.sql3-step .sql-statement {
    padding: 10px;
    line-height: 140%;
    color: #0000C3;
}

.narrow .sql3-step .sql-statement {
    padding: 3px 10px;
    line-height: 100%;
}

.sql3-step .sql-statement .prefix {
    color: darkgreen;
}

.sql3-step .sql-statement .param {
    color: #207ce5;
}

.sql3-step .sql-statement {
    white-space: nowrap;
}

.sql3-step .sql-statement.formatter {
    white-space: pre;
}

.xlog-steps.wrap .sql3-step .sql-statement {
    white-space: normal;
    word-break: break-all;
}

.xlog-steps.wrap .sql3-step .sql-statement.formatter {
    white-space: pre-wrap;
    word-break: break-all;
}

.sql3-step .sql-param {
    /*padding: 0 10px 10px;*/
    padding: 0 10px 2px;
}

.sql3-step .sql-param .narrow {
    padding: 0 10px 10px;
}





