.dispatch-step .message-content {
    padding: 9px 15px;
    color: #01579b;
    font-weight: bold;
    font-size: 11px;
}

.narrow .dispatch-step .message-content {
    padding: 2px 15px;
    background-color: #ffe0b2;
}

.dispatch-step .message-content > span {

}

