.target-selector {
    background: white;
    max-width: 800px;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
}

@media screen and (max-width: 1024px) {
    .target-selector {

    }
}

.target-selector h2 {
    margin: 0;
    padding: 15px;
    text-align: left;
    border-bottom: 1px dashed #DDD;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    font-size: 13px;
}

.target-selector .target-selector-buttons {
    padding: 10px;
    text-align: right;
    border-top: 1px dashed #DDD;
}

.target-selector .target-box {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    height: 200px;
}

.target-selector .target-box > div {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.target-selector .target-box > div > div {
    display: table-cell;
    height: 100%;
    vertical-align: top;
}

.target-selector .target-box > div > div.first {
    width: 30%;
    padding: 5px 2px 4px 5px;
}

.target-selector .target-box > div > div.second {
    padding: 5px 5px 4px 3px;
}

.target-selector .target-box > div > div > div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.target-selector .target-box .message {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin-top: 50px;
}

.target-selector .target-box .message > span {
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 12px;
    box-sizing: border-box;
}

.target-selector .target-box .message i.fa {
    font-size: 25px;
}

.target-selector .target-box div.target-box-host {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.04);
    _background-color: #EEF3F6;
    _border-radius: 5px;
    _border: 1px solid #DDD;
}

.target-selector .target-box div.target-box-instance {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.04);
    _background-color: #EEF6F1;
    _background-color: #EEF3F6;
    _border-radius: 5px;
    _border: 1px solid #DDD;
}

.target-selector .target-box ul {
    padding: 0;
    margin: 0;
    list-style: none
}