.range-controls {
    padding: 6px;
    font-size: 12px;
    color: white;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 84px;
    _border: 1px solid rgba(0, 0, 0, 0.4);
    display: block;
}

@media screen and (max-width: 600px) {
    .range-controls {
        width: calc(100% - 36px);
        top: 57px;
    }

    .range-controls.fixed {
        position: fixed;
        width: calc(100% - 16px);
        top: 28px;
        left: 8px;
    }
}

.range-controls .time-type {
    font-size: 8px;
    display: block;
    margin-bottom: 5px;
    position: relative;
}

.range-controls .time-type > .time-start-position {
    display: inline-block;
    height: 20px;
    width: calc(100% - 160px);
    width: 52px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 3px;
}

.range-controls .time-start-position > div {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.range-controls .time-start-position > div:hover {
    background-color: #FFF6C7;
}

.range-controls .time-start-position > div.selected {
    background-color: #FFCC11;
    color: #333;
}

.range-controls .time-start-position > div.selected:hover {
    background-color: #FFC125;
}

.range-controls .time-type .time-start-position .start-from-past {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.range-controls .time-type .time-start-position .start-from-current {
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.range-controls .time-start-position .dot {
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #444;
    position: absolute;
    top: 7px;
}

.range-controls .time-start-position .start-from-past .dot {
    left: 5px;
}

.range-controls .time-start-position .start-from-current .dot {
    right: 5px;
}

.range-controls .time-start-position .line {
    left: 5px;
    right: 5px;
    height: 1px;
    background-color: #444;
    position: absolute;
    top: 9px;
}

.range-controls .time-start-position .arrow {
    width: 4px;
    height: 4px;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    position: absolute;
    top: 7px;
}

.range-controls .time-start-position .start-from-past .arrow {
    right: 5px;
    transform: rotate(45deg);
}

.range-controls .time-start-position .start-from-current .arrow {
    left: 5px;
    transform: rotate(225deg);
}

.range-controls .time-start-position .start-from-current {
    height: 100%;
}

.range-controls .time-type > div.time-type-item {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    color: #333;
}

.range-controls .time-type > div.real-time {
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.range-controls .time-type > div.search-time {
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.range-controls .time-type > div.time-type-item:hover {
    background-color: #FFF6C7;
}

.range-controls .time-type > div.longterm-time {
    width: 30px;
    margin-left: 5px;
    border-radius: 3px;
}

.range-controls .time-type > div.selected {
    background-color: #FFCC11;
    color: #333;
}

.range-controls .time-type > div.selected:hover {
    background-color: #FFC125;
}

.range-controls .time-type > div.disabled {
    background-color: transparent;
    color: #AAA;
    cursor: auto;
}

.range-controls .time-controller {
    display: block;
    height: 26px;
    width: 100%;
}

.range-controls .time-controller-reatime-msg {
    text-align: center;
    padding-top: 17px;
    height: 47px;
    width: 100%;
    box-sizing: border-box;
}

.time-controller > div {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
}

.time-controller > div.time-controller-date {
    width: 82px;
}

.time-controller > div.time-controller-hours {
    width: 47px;
}

.time-controller > div.time-controller-minutes {
    width: 47px;
}

.time-controller > div .desc-label {
    font-size: 8px;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    text-align: right;
    width: 100%;
}

.time-controller > div .desc-label span {
    display: inline-block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #555;
    text-align: center;
}

.range-controls > div {
    display: inline-block;

}

.range-controls .range-time-control {
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 1px;
    height: 26px;
}

.range-controls .range-time-control:disabled {
    background-color: #CCC;
    color: #888;
}

.range-controls .rage-date {
    width: 80px;
    margin-right: 2px;
}

.range-controls .rage-hours {
    margin-right: 2px;
}

.range-controls .rage-hours,
.range-controls .rage-minute {
    width: 45px;
}

.range-controls input[type=number]:hover::-webkit-inner-spin-button {
    width: 5px;
}

.range-controls .span-range {
    width: calc(100% - 82px - 65px - 47px - 47px);
    position: relative;
    z-index: 2;
}

.range-controls .span-range.from-current-range {
    width: calc(100% - 65px);
}

.range-controls .range-right-btn {
    position: relative;
    z-index: 1;
    text-align: right;
    width: 65px;
}

@media screen and (max-width: 600px) {
    .range-controls .span-range {
        width: 400px;
    }
}

.range-controls .span-range .span-range-right-bg {
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px;
    background-color: #eeeeee;
    height: 100%;
}

.range-controls .span-range .input-range {
    height: 100%;
    height: 26px;
}

.range-controls .search-btn {
    font-size: 10px;
    background-color: #FFCC11;
    color: #333;
    padding: 7px 6px;
    margin-left: 12px;
    margin-right: 0;
    _border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.range-controls .search-btn:hover {
    background-color: #FFDB58;
}

.range-controls .search-btn.disabled {
    background-color: #999;
}

.range-controls .input-range__label {
    _display: none;
}

.range-controls .input-range__track {
    transition: none;
    border-radius: 0;
}

.range-controls .input-range__track--background {
    margin-top: 0;
    top: 0;
    height: 100%;
}

.range-controls .input-range__track--active {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0;

}

.range-controls .input-range__slider-container {
    height: 100%;
    top: 0;
    width: 10px;
    transition: none;
}

.range-controls .input-range--disabled .input-range__slider {
    border: none;
}

.range-controls .input-range__label--min {
    display: none;
}

.range-controls .input-range__label--max {
    display: none;
}

.range-controls .input-range__label--value {
    top: 4px;
    left: 20px;
    color: #333;
    background-color: white;
    padding: 2px 4px;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.range-controls .over-half .input-range__label--value {
    left: auto;
    right: 20px;
}

.range-controls .input-range--disabled .input-range__label--value {
    display: none;
}

.range-controls .input-range__label--value .input-range__label-container {
    left: 0;
}

.range-controls .input-range__slider {
    border-radius: 0;
    top: 0;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    border: none;
    left: 0;
    background-color: #FFCC11;
}

.input-range__slider:active {
    transform: none;
}

.range-controls .selected-time {
    margin-top: 5px;
    text-align: right;
    display: block;
}

.range-controls .selected-time.disabled {
    opacity: 0.3;
}

.range-controls .selected-time > div {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);

    padding: 2px 4px;
    font-size: 8px;
}

.range-controls .selected-time > div.move-before,
.range-controls .selected-time > div.move-after {
    margin-right: 5px;
    padding: 1px 6px;
    border-radius: 2px;
    background-color: white;
    color: #333;
    cursor: pointer;
}

.range-controls .selected-time > div.move-before
.range-controls .selected-time.disabled > div {
    cursor: auto;
}

.range-controls .selected-time > div.move-before:hover,
.range-controls .selected-time > div.move-after:hover {
    background-color: #EEE;
}

.range-controls .selected-time.disabled > div.move-before:hover,
.range-controls .selected-time.disabled > div.move-after:hover {
    background-color: white;
}

.range-controls .selected-time > div.end-time {
    margin-left: 5px;
}

.range-controls .selected-time .start-time,
.range-controls .selected-time .end-time {
    width: 110px;
    box-sizing: border-box;
    text-align: center;
}