.single-profile {
    padding: 20px;
    font-size: 12px;
}

.single-profile .sub-title {
    padding: 10px;
    border-radius: 3px 3px 0 0;
    background-color: #EEE;
    background-color: #333;
    color: white;
    display: block;
    border: 1px solid #333;
}

.single-profile div.xlog-data {
    margin-bottom: 20px;
}

.single-profile div.xlog-data > div {
    white-space: nowrap;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.single-profile div.xlog-data span {
    padding: 7px 10px;
    display: inline-block;
    box-sizing: border-box;
    display: table-cell;
}

.single-profile div.xlog-data span.label {
    width: 100px;
    background-color: #EEE;
}

.single-profile div.xlog-data span.data {
    white-space: nowrap;
}

.single-profile div.xlog-data.wrap span.data {
    white-space: normal;
    word-break: break-all;
}

.single-profile .xlog-steps {

}

.single-profile .line {
    height: 5px;
    margin: 0;
    width: 100%;
}

.xlog-steps .step {
    padding: 0;
    white-space: nowrap;
    text-align: justify;
    border: 1px solid #DDD;
    border-radius: 2px;
}

.xlog-steps.wrap .step {
    white-space: normal;
    word-break: break-all;
}

@media screen and (max-width: 800px) {
    .single-profile {
        padding: 10px;
        font-size: 12px;
    }

    .single-profile div.xlog-data {
        margin-bottom: 10px;
    }
}
