.single-profile {
    padding: 20px;
    font-size: 12px;
}

.single-profile .sub-title {
    padding: 10px;
    border-radius: 3px 3px 0 0;
    background-color: #EEE;
    background-color: #333;
    color: white;
    display: block;
    border: 1px solid #333;
}

.single-profile div.xlog-data {
    margin-bottom: 20px;
}

.single-profile div.xlog-data > div {
    white-space: nowrap;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.single-profile div.xlog-data span {
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    display: table-cell;
}

.single-profile div.xlog-data > div {
}

.single-profile div.xlog-data span.label {
    width: 80px;
    background-color: #EEE;
}

.single-profile div.xlog-data span.data {
    white-space: nowrap;
}

.single-profile div.xlog-data.wrap span.data {
    white-space: normal;
    word-break: break-all;
}

.single-profile .xlog-steps {

}

.single-profile .line {
    height: 5px;
    margin: 0;
    width: 100%;
}

.xlog-steps .step-div {
    margin-top: 10px;
}

.xlog-steps .step-div.has-gab.show-gab {
    margin-top: 0;
}

.xlog-steps .step {
    padding: 0;
    white-space: nowrap;
    text-align: justify;
    border: 1px solid #DDD;
    border-radius: 2px;
}



.xlog-steps.wrap .step {
    white-space: normal;
    word-break: break-all;
}

.xlog-steps .gap-time {
    text-align: center;
}

.xlog-steps .gap-time > div {
    display: inline-block;
    padding: 5px 10px;
    background-color: #DDD;
    border-radius: 5px;
    margin: 10px 0;
}

.xlog-steps .gap-time .arrow {
    font-size: 12px;
}




/* GENERAL */
.xlog-steps .general {
    background-color: #EEE;
    padding: 0;
}

.xlog-steps .general > span {
    display: inline-block;
    padding: 4px 4px;
    box-sizing: border-box;
    line-height: 100%;
}

.xlog-steps .general .index {
    width: 60px;
    padding: 2px 0;
    text-align: center;
}

.xlog-steps .general .type {
    text-align: center;
    width: 60px;
    background-color: #DDD;
}

.xlog-steps .general .start-time {
    text-align: center;
    width: 150px;
}

.xlog-steps .general .elapsed {
    width: 80px;
    text-align: right;
    background-color: #DDD;
}

.xlog-steps .general .value {
    width: 60px;
    text-align: right;
}

