.single-profile {
    padding: 10px;
}

.single-profile div.xlog-data > div {
    white-space: nowrap;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.single-profile div.xlog-data span {
    padding: 2px 4px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 2px;
    display: table-cell;
}

.single-profile div.xlog-data > div {
    margin-bottom: 2px;
}

.single-profile div.xlog-data span.label {
    width: 75px;
    background-color: #EEE;
}

.single-profile div.xlog-data span.data {
    white-space: nowrap;
}

.single-profile div.xlog-data.wrap span.data {
    white-space: normal;
    word-break: break-all;
}

.single-profile .xlog-steps {

}

.single-profile .line {
    height: 5px;
    margin: 0;
    width: 100%;
}

.xlog-steps .step-div {

}

.xlog-steps .step {
    padding: 0;
    _border-top: 1px solid #CCC;
    _border-bottom: 1px solid #CCC;
    margin: 5px 0;
}

/* GENERAL */
.xlog-steps .general {
    background-color: #EEE;
    padding: 0;
}

.xlog-steps .general >  span {
    display: inline-block;
    padding: 4px 4px;
    box-sizing: border-box;
    line-height: 100%;
}

.xlog-steps .general .index {
    width: 60px;
    padding: 2px 0;
    text-align: center;
}

.xlog-steps .general .type {
    text-align: center;
    width: 60px;
    background-color: #DDD;
}

.xlog-steps .general .start-time {
    text-align: center;
    width: 120px;
}

.xlog-steps .general .elapsed {
    width: 60px;
    text-align: right;
    background-color: #DDD;
}

.xlog-steps .general .value {
    width: 60px;
    text-align: right;
}

