.xlog-flow-content
  position: relative
  .title
    padding: 8px
    background-color: #333
    color: white
    height: 36px
    box-sizing: border-box
    & span
      display: inline-block
      padding: 4px
  .close-btn
    position: absolute
    top : 7px
    right : 5px
    display: inline-block !important
  .contents
    position: relative
    width: 100%
    height: calc(100% - 36px)
    overflow-y : auto
    .flow-data
      margin-bottom: 20px
      padding : 5px 10px
      & > div
        white-space: nowrap
        display: table
        table-layout: fixed
        width: 100%
      //  & div.span
      //    padding: 7px 10px
      //    box-sizing: border-box
      //    display: table-cell
      //    .label
      //      width: 100px
      //      background-color: #608cee
      //    .data
      //      white-space: nowrap;
      & span
        padding: 7px 10px
        box-sizing: border-box !important
        display: table-cell
      .label
        width: 100px
        background-color: #aeaeae
      .data
        white-space: nowrap;
    .xlog-flow-btn
      position: relative
      margin:0px auto 5px
      border-radius : 5px
      font-size : 11px
      cursor : pointer
      background : yellow
      padding  : 6px 8px
      display: inline-block !important



