.xlog-flow-content {
  position: relative;
}
.xlog-flow-content .title {
  padding: 8px;
  background-color: #333;
  color: #fff;
  height: 36px;
  box-sizing: border-box;
}
.xlog-flow-content .title span {
  display: inline-block;
  padding: 4px;
}
.xlog-flow-content .close-btn {
  position: absolute;
  top: 7px;
  right: 5px;
  display: inline-block !important;
}
.xlog-flow-content .contents {
  position: relative;
  width: 100%;
  height: calc(100% - 36px);
  overflow-y: auto;
}
