.xlog-flow-content
  position: relative
  .title
    padding: 8px
    background-color: #333
    color: white
    height: 36px
    box-sizing: border-box
    & span
      display: inline-block
      padding: 4px
  .close-btn
    position: absolute
    top : 7px
    right : 5px
    display: inline-block !important
  .contents
    position: relative
    width: 100%
    height: calc(100% - 36px)
    overflow-y : auto
