.box-config {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: #104E8B;
    background-color: #282828;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 8px 0;
    line-height: 0;
    font-size: 9px;
    display: table;
    z-index: 5;
    box-sizing: border-box;
}

.box-config input,
.box-config select,
.box-config button {
    font-size: 9px;
    box-sizing: border-box;
}

.box-config .box-config-content {
    display: table-cell;
    vertical-align: top;
}

.box-config .box-config-content .box-config-title {
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 10px 0 15px;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 10px;
}

.box-config .box-config-content .box-config-title .close-btn {
    position: absolute;
    top : 0;
    right : 10px;
    cursor: pointer;

}

.box-config .box-config-items {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.box-config .box-config-item {
    padding: 2px 0 5px;
    width: 50%;
    _height: 46px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
}


.box-config.single-row .box-config-items {
    display: block;
}

.box-config.single-row .box-config-item {
    width: 100%;
    display: inline-block;
}

.box-config .box-config-item label {
    color: white;

    line-height: 100%;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.box-config .box-config-item input[type=text],
.box-config .box-config-item select {
    width: calc(100% - 120px);
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: none;
    line-height: 0;
}

.box-config .box-config-item input[type=checkbox] {
    margin-top: 0;
    position: relative;
    top: 4px;
    border: none;
    border-radius: 0;

}
/* 메트릭 추가 설정 */
.box-config .box-config-advanced-items {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.box-config .box-config-advanced-item {
    padding: 2px 0 5px;
    width: 50%;
    _height: 46px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
}

.box-config .box-config-advanced-item select {
    width: calc(100% - 120px);
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: none;
    line-height: 0;
}

.box-config .box-config-advanced-item label {
    color: white;

    line-height: 100%;
    width: 100px;
    display: inline-block;
    text-align: center;
}
/* 추가 설정 분 */
.box-config .box-config-buttons {
    padding: 5px 10px 0;
    text-align: center;
}

.box-config a {
    color: white;
}

.box-config .config-tooltip {
    color: white;
    line-height: 100%;
    text-align: right;
    font-size: 8px;
    padding: 2px 20px;
}

.box-config .exclusive-options-title {
    text-align: center;
    padding: 10px;

}

.box-config .exclusive-options {
    line-height: 100%;
    color: white;
    padding: 0 10px;
}

.box-config .exclusive-options.show {
    display: block;
}

.box-config .exclusive-options .metric-option {
    display: inline-block;
    background-color: white;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 5px;
    border-radius: 3px;
}

.box-config .exclusive-options .metric-option span {
    padding: 7px;
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.box-config .exclusive-options .metric-option.removed span {
    text-decoration: line-through;
}

.box-config .exclusive-options .metric-option .remove-btn {
    padding: 7px 7px 7px 5px;
    border-right: none;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
}

.box-config .exclusive-options .metric-option .remove-btn:hover {
    background-color: #F8171B;
    cursor: pointer;
    color: white;
}