.menu-div {
    padding: 10px 0 0;
    position: relative;
}

.menu-div .bar {
    position: absolute;
    left : 0;
    width: 100%;
    height: 4px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.1);
}

.menu {
    color: white;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Bungee';
    font-weight: normal;
    height: 45px;
    box-sizing: border-box;
    padding: 0 10px;
}

.menu div.logo {
    font-size: 16px;
    padding: 0 10px 0 0;
    width: 80px;
    text-align: center;
    position: relative;
    height: 45px;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    float: left;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu div.logo a {
    color: white;
}

.menu div.logo a:hover {
    color: #FFCC11;
}

.menu div.logo .logo-icon {
    position: absolute;
    top: -14px;
    left: 0;
    text-align: center;
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
    z-index: 2;
    font-size: 16px;
}

.menu div.logo .logo-text-div {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    padding-right: 10px;
}

.menu div.logo .logo-text {
    line-height: 10px;
    font-size: 10px;
    letter-spacing: 0;
    display: inline-block;
    padding: 0;
    border-radius: 5px;
}

.menu div.logo:hover {
    color: #FFCC11;
}

.menu a.menu-item {
    display: inline-block;
    color: #CCC;
    padding: 5px 15px 2px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: border-bottom-colo, colorr 0.3s;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    float: left;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu .menu-item .icon {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu .menu-item.right {
    float: right;
}

.menu .menu-item:hover {
    color: white;
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
    transition: border-bottom-color, color 0.3s;
}

.menu .menu-item:hover .icon {
    opacity: 1;
    transition: opacity 0.3s;
}

.menu div.logo:hover {
    border-bottom: 4px solid transparent;
}

.menu .menu-item.active {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    color: white;
    transition: border-bottom-color, color 0.3s;
}
