.menu-div {
    padding: 4px 0 0;
    position: relative;
    background-color: #207ce5;
    background-color: rgba(0,0,0,0.05);
    font-family: 'Bungee', sans-serif;
    height: 60px;
    box-sizing: border-box;
}

.menu-div .bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu {
    color: white;
    margin: 0 auto;
    font-weight: normal;
    box-sizing: border-box;
    height: 100%;
}

.menu .menu-item {
    display: inline-block;
    color: #CCC;
    padding: 20px 20px 0;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: border-bottom-colo, colorr 0.3s;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu .menu-item.alert-btn {
    padding: 16px 15px 0;
}

.menu .menu-item.alert-btn {
    position: relative;
}

.menu .menu-item.alert-btn[data-count]:after {
    content: attr(data-count);
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 10px;
    _background: #FF3300;
    _color: white;
    color: #FF3300;
    _background-color: #FFCC11;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
}

.menu .menu-item.alert-btn[data-count='0']:after {
    display: none;
}

.menu .menu-item.alert-btn .alert-icon {
    font-size: 16px;
}

.menu .menu-item.alert-btn .alert-icon.has-alert {
    color: #FF3300;
}


.menu .menu-item .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu .menu-item.right {
    float: right;
}

.menu .menu-item:hover {
    color: white;
    border-bottom: 4px solid rgba(255, 255, 255, 0.6);
    transition: border-bottom-color, color 0.3s;
}

.menu .menu-item:hover .icon {
    opacity: 1;
    transition: opacity 0.3s;
}

.menu .menu-item.active {
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    color: white;
    transition: border-bottom-color, color 0.3s;
}

.menu .right-panel {
    display: block;
    float: right;
    height: 56px;
}

.menu .right-panel .template-name {
    display: inline-block;
    padding: 0 4px 0 4px;
}

.menu .template-name .preset{
    font-size: 13px;
    padding: 12px 0 0 0;
}

.menu .template-name .layout {
    font-size: 11px;
    padding: 4px 0 0 0;
}

.menu-instance-selector {
    display: inline-block;
    padding-top: 10px;
    font-size: 10px;
    float: right;
    margin-right: 10px;
}

.layout-manager-selector {
    display: inline-block;
    padding-top: 10px;
    font-size: 10px;
    float: right;
    margin-right: 10px;
}

@media screen and (max-width: 800px) {

    .min .menu {
        margin-left: 40px;
    }

    .menu-div {
        padding: 4px 0 0;
        height: 45px;
        box-sizing: border-box;
    }

    .menu a.menu-item {
        font-size: 10px;
        padding: 12px 6px 0;
    }

    .menu .menu-item.alert-btn {
        padding: 10px 15px 0;
    }

    .menu .template-name .preset{
        font-size: 11px;
        padding: 6px 0 0 0;
    }

    .menu .template-name .layout {
        font-size: 10px;
        padding: 0;
    }

}

@media screen and (max-width: 600px) {

    .layout-manager-selector,
    .menu-instance-selector {
        padding-top: 6px;
    }

    .layout-manager-selector,
    .menu-instance-selector {
        margin-right: 5px;
    }

    .menu .menu-item.right {
        margin-right: 5px;
    }

    .menu .right-panel .template-name {
        display: none;
    }
}

.menu .menu-item .menu-icon {
    display: none;
}

