.menu-div {
    padding: 5px 0 0;
    position: relative;
    background-color: #207ce5;
}

.menu-div .bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu {
    color: white;
    max-width: 1600px;
    margin: 0 auto;
    font-weight: normal;
    box-sizing: border-box;
}

.menu div.logo {
    font-size: 16px;
    padding: 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    text-align: center;

}

.menu div.logo a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.menu div.logo a:hover {
    color: #FFCC11;
}

.menu div.logo .logo-icon {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    font-size: 16px;
    position: relative;
    top: -10px;
}

.menu div.logo .logo-text-div {
    width: 100%;
    text-align: center;
    height: 0;
    padding-right: 10px;
}

.menu div.logo .logo-text {
    font-size: 10px;
    padding: 0;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    left: 0;
    width: 100%;
}

.menu div.logo .logo-text-1 {
    top: 0;
}

.menu div.logo .logo-text-2 {
    top: 10px;
}

.menu div.logo:hover {
    color: #FFCC11;
}

.menu a.menu-item {
    display: inline-block;
    color: #CCC;
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: border-bottom-colo, colorr 0.3s;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.menu .menu-item .icon {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu .menu-item .login-icon {

}

.menu .menu-item.right {
    float: right;
}

.menu .menu-item:hover {
    color: white;
    border-bottom: 4px solid rgba(255, 255, 255, 0.6);
    transition: border-bottom-color, color 0.3s;
}

.menu .menu-item:hover .icon {
    opacity: 1;
    transition: opacity 0.3s;
}

.menu div.logo:hover {
    border-bottom: 4px solid transparent;
}

.menu .menu-item.active {
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    color: white;
    transition: border-bottom-color, color 0.3s;
}

.menu-instance-selector {
    display: inline-block;
    padding-top : 10px;
    font-size: 10px;
    float: right;
    margin-right: 10px;
}



@media screen and (max-width: 600px) {
    .menu a.menu-item {
        padding: 10px 5px;
        font-size: 10px;
    }

    .menu div.logo .logo-icon {
        font-size: 16px;
        position: relative;
        top: -7px;
    }

    .menu-instance-selector {
        padding-top : 6px;
    }

    .menu-instance-selector {
        margin-right: 5px;
    }

    .menu .menu-item.right {
        margin-right: 5px;
    }

}




