.papers {
    max-width: 1600px;
    margin: 0 auto;
}

.papers .box-layout {
    position: relative;
}

.papers .box-layout .box-control {
    background-color: transparent;
    border: none;
    color: white;
    _position: absolute;
    _top: 4px;
    _right: 0;
    outline: none;
    font-size: 14px;
    float: right;
    position: relative;
    top : 4px;
    padding: 1px 4px;
}

.papers .box-layout .box-control.last {
    margin-right: 4px;
}

.papers .box-layout .box-control:hover {
    background-color: rgba(0,0,0,0.1);
}
