.papers {
    max-width: 1600px;
    margin: 0 auto;
}

.papers .box-layout {
    position: relative;
}

.papers .box-layout .box-control {
    background-color: transparent;
    border: none;
    _position: absolute;
    _top: 4px;
    _right: 0;
    outline: none;
    font-size: 14px;
    float: right;
    position: relative;
    top : 4px;
    padding: 1px 4px;
}

.papers .box-layout .box-control.last {
    margin-right: 4px;
}

.papers .box-layout .box-control:hover {
    background-color: rgba(0,0,0,0.1);
}

.papers .select-instance {
    position: fixed;
    top : 55px;
    left : 0;
    right : 0;
    bottom : 0;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
}

.papers .select-instance > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;

}

.papers .select-instance > div > div.icon {
    font-size: 30px;
    line-height: 0;
}

.papers .select-instance > div > div.icon > div {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 5px;
    position: relative;
    top : 0;
}

.papers .select-instance > div > div.msg {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
}

.papers .fixed-alter-object {
    height: 54px;
    margin-top: 10px;
    display: none;
}

.papers .fixed-alter-object.show {
    display: block;
}