.papers {
    height: calc(100% - 60px);
    position: relative;
}

@media screen and (max-width: 800px) {
    .papers {
        height: calc(100% - 45px);
    }
}

.papers > div {
    height: 100%;
    box-sizing: border-box;
}

.papers .box-layout {
    position: relative;
}

.papers .box-layout .box-control {
    background-color: transparent;
    border: none;
    _position: absolute;
    _top: 4px;
    _right: 0;
    outline: none;
    font-size: 14px;
    float: right;
    position: relative;
    top: 4px;
    padding: 1px 4px;
    z-index: 2;
}

.papers .box-layout .box-control.filter-btn.filtered {
    color: #0198E1;
}


.papers .box-layout .box-control.last {
    margin-right: 4px;
}

.papers .box-layout .box-control:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.papers .select-instance {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 21;
    color: white;
}

.papers .select-instance.fixed {
    top: 0;
}

.papers .select-instance > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.papers .select-instance div.select-instance-message {
    background-color: white;
    padding: 20px;
    color: #333;
}

.papers .select-instance div.select-instance-message div.icon {
    font-size: 30px;
    line-height: 0;
}

.papers .select-instance div.select-instance-message div.icon > div {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 5px;
    position: relative;
    top: 0;
}

.papers .select-instance div.select-instance-message > div.msg {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}

.papers .fixed-alter-object {
    height: 54px;
    margin-top: 10px;
    display: none;
}

.papers .fixed-alter-object.show {
    display: block;
}

.papers .quick-usage {
    height: calc(100% - 10px);
    box-sizing: border-box;
    padding: 10px 10px 0;
}

.papers .quick-usage > div {
    height: 100%;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.papers .quick-usage > div > div {
    display: table;
    width: 100%;
    height: 100%;
}

.papers .quick-usage > div > div > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.papers .quick-usage h3 {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}

.papers .quick-usage .add-paper-btn {
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
    padding: 2px 4px;
    margin: 0 2px;
    border-radius: 2px;
}

.papers .quick-usage h3:before {
    content: '<';
}

.papers .quick-usage h3:after {
    content: '>';
}

.papers .quick-usage ol {
    line-height: 160%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.papers .quick-usage ol li {
    text-align: center;
}


@media screen and (max-width: 600px) {
    .papers .quick-usage {
        height: calc(100% - 10px);
    }
}