.react-grid-item {
    background-color: white;
    color: #333;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 12px !important;
    height: 12px !important;
    bottom: 0;
    right: 0;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
    background-color: transparent;
    border-radius: 0 0 4px 0;
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}

.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}

.react-grid-item.cssTransforms {
    transition-property: transform;
}

.react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
}

.react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    z-index: 100;
}

_.react-grid-item > .react-resizable-handle::after {
    content: '';
    border: none !important;
    width: 3px;
    height: 3px;
    box-sizing: border-box;
    position: absolute;
    bottom: 3px;
    right: 3px;
    background-color: white;
    padding: 0;
    border-radius: 50%;
}