.xlog-viewer {
    _border: 1px solid #AAA;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    _background-color: white;
    height: 100%;
    text-align: left;
}

.xlog-viewer > div.xlog-viewer-content {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.xlog-viewer .axis-x path,
.xlog-viewer .axis-x line,
.xlog-viewer .axis-y path,
.xlog-viewer .axis-y line,
.xlog-viewer .grid-x path,
.xlog-viewer .grid-x line,
.xlog-viewer .grid-y path,
.xlog-viewer .grid-y line {
    stroke: #333;
}

.xlog-viewer .axis-x text,
.xlog-viewer .axis-y text {
    fill: #333;
}

.xlog-viewer canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.xlog-viewer .axis-button {
    position: absolute;
    left: 4px;
    display: inline-block;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #666;
    box-sizing: border-box;
    width: 16px;
    height: 13px;
    text-align: center;
    font-size: 10px;
}

.xlog-viewer .axis-button:hover {
    background-color: #FBDB0C;
}

.xlog-viewer .axis-button.axis-up {
    top: 4px;
}

.xlog-viewer .axis-button.axis-down {
    bottom: 6px;
}

.xlog-viewer .preview-area {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/*.xlog-viewer text {*/
    /*font-size: 8px;*/
/*}*/

.xlog-viewer .text-right {
    position: absolute;
    right: 15px;
    top : 6px;
    font-size: 8px;
    text-transform: uppercase;
}

.xlog-viewer .text-right > p {
    margin: 0;
}

.xlog-viewer .text-right .text-error  {
    color: red;
}

.xlog-viewer .no-longterm-support {
    text-align: center;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.xlog-viewer .no-longterm-support > div {
    display: table;
    width: 100%;
    height: 100%;
}

.xlog-viewer .no-longterm-support > div > div {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    heigh: 100%;
}

.xlog-viewer .xlog-history-stop-control {
    text-align: center;
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 20px;
    z-index: 51;
}

.xlog-viewer .xlog-history-stop-control > div {
    display: inline-block;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 2px;
    min-width: 120px;
}

.xlog-viewer .xlog-history-stop-control div.stop-btn {
    font-size: 24px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}
