.layout-manager-bg {
    margin: 0 auto;
}

.layout-manager-bg .layout-summary {
    padding: 8px 5px;
    position: relative;
}

.layout-manager-bg .layout-summary:hover {
    background-color: #FFCC11;
    color: #333;
    cursor: pointer;
}

.layout-manager-bg .layout-summary .drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 16px;
    width: 20px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.layout-manager {
    color: white;
    height: 200px;
    padding: 0;
    margin-top: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
}

.layout-manager > div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.layout-manager > div.content-ilst {
    height: 100%;
    overflow-y: auto;
}

.layout-manager .title > div {
    display: inline-block;
    padding: 8px 8px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    line-height: 0;
    font-size: 10px;
}

.layout-manager .buttons {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 10px 8px;
    text-align: right;
    font-size: 10px;
    height: 40px;
    box-sizing: border-box;
}

.layout-manager .buttons button {
    float: right;
}

.layout-manager .buttons button.save-btn,
.layout-manager .buttons button.delete-btn {
    float: left;
}

.layout-manager ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.layout-manager ul li {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 5px;
    position: relative;
}

.layout-manager .save-new-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.layout-manager .save-new-btn span {
    display: inline-block;
    padding: 4px 8px;
    _border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #FFD700;
    color: #333;
    cursor: pointer;
}

.layout-manager .save-new-btn span:hover {
    background-color: #EEC900;
}

.layout-manager ul li > div .deprecated {
    padding: 5px 0 0 5px;
    font-size: 10px;
}

.layout-manager ul li div.saved-info {
    position: absolute;
    top : 0;
    left : -100%;
    bottom : 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    opacity: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.0),rgba(0,0,0,0.4),rgba(0,0,0,0.0));
    transition: all 0.3s;
}

.layout-manager ul li div.saved-info.show {
    opacity: 1;
    left : 0;
    transition: all 0.3s;
}

.layout-manager ul li > div .deprecated > span {
    background-color: red;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
}

.layout-manager ul li span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 2px 0;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 4px;
}

.layout-manager ul li .btn-control span {
    margin-top: 1px;
}

.layout-manager ul li span.paper-count {
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 0;
    padding: 4px;
}

.layout-manager ul li .no {
    width: 25px;
}

.layout-manager ul li .save-as-btn,
.layout-manager ul li .del-btn,
.layout-manager ul li .done-btn,
.layout-manager ul li .edit-btn {
    width: 36px;
    text-align: center;
    __display: none;
    float: right;
    background-color: #FFD700;
    color: #333;
    padding: 3px 0;
    margin-left: 4px;
}

.layout-manager ul li .save-as-btn {
    width: 50px;
}

.layout-manager ul li .del-btn {
    background-color: #E3170D;
    color: white;
}

.layout-manager ul li .del-btn:hover {
    background-color: #CC1100;
}

.layout-manager ul li .save-as-btn:hover,
.layout-manager ul li .done-btn:hover,
.layout-manager ul li .edit-btn:hover {
    background-color: #EEC900;
}

.layout-manager ul li:hover .done-btn,
.layout-manager ul li:hover .edit-btn {
    display: inline-block;
}

.layout-manager ul li .name {
    width: 100%;
}

.layout-manager ul li .name.edit {
    padding: 0;
}

.layout-manager ul li input {
    padding: 4px;
    font-size: 10px;
    width: 100%;
    line-height: 0;
    _border-radius: 3px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.layout-manager ul li input * {
    padding: 0;
}

.layout-manager ul li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.layout-manager ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.layout-manager ul li.selected {
    background-color: rgba(0, 0, 0, 0.3);
}

.layout-manager .empty-content {
    text-align: center;
    padding-top: 86px;
}

.layout-manager-bg .__react_component_tooltip {
    font-size: 8px !important;
    padding: 4px 8px !important;
}