.layout-manager-bg {
    position: fixed;
    top : 0;
    left : 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 30;
}

.layout-manager {
    background-color: #207ce5;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: white;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 47px;
    right: 24px;
    _border-radius: 5px;
    z-index: 5;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.layout-manager > div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.layout-manager .buttons {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 10px 8px;
    text-align: right;
    font-size: 10px;

}
.layout-manager ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.layout-manager ul li {
    padding: 10px;
    cursor: pointer;
}

.layout-manager ul li.selected {
    background-color: rgba(0,0,0,0.3);
}

@media screen and (max-width: 700px) {
    .layout-manager {
        width: calc(100% - 20px);
        height: 300px;
        position: absolute;
        top: 45px;
        right: 10px;
        left: 10px;
        z-index: 2;
        padding: 0;

    }

}

