.realtime-controller
  display: flex
  width: 100%
  .meta-info
    margin-top: 2px
    .meta-text
      padding-left: 2px
  .time-range
    margin-top: 2px
    border: 1px
    .time-control
      display: inline-flex
      background-color: #999
      box-sizing: border-box;
      .time-last
        position: relative
      .time-value
        position: relative
        left: 2px
      .time-unit
        position: relative
        left: 4px
        >select
          width: 80px
          height: 26px
      .time-apply
        position: relative
        left: 6px
        >button
          height: 26px
      .refresh-every
        position: relative
        left: 10px
        display: inline-flex
        .refresh-icon
          position: relative
          font-size: 14px
          margin-top: 6px
        .refresh-select
          position: relative
          left: 4px
          >select
            width: 50px
            height: 26px
  input
    width: 35px
    height: 20px
    text-align : center

  //.meta-info
  //.time-range
  //.refresh-every
