.realtime-controller
  display: flex
  width: 100%
  .time-range
    border: 1px
    .time-control
      display: inline-flex
      box-sizing: border-box;
      .time-last
      .time-value
      .time-unit
        >select
          width: 80px
          height: 26px
      .time-apply
        position: relative
        right: 2px
        >button
          height: 26px
      .refresh-every
        position: relative
        display: inline-flex
        background-color : #AAA
        .refresh-icon
          position: relative
          font-size: 14px
          margin-top: 6px
          padding-left: 3px
        .refresh-select
          position: relative
          left: 4px
          >select
            width: 50px
            height: 26px
  input
    width: 45px
    height: 20px
    text-align : center


  //.meta-info
  //.time-range
  //.refresh-every
