.stack-trace {
  padding: 0px;
  font-size: 12px;
  width: 100%;
}
.stack-trace .line {
  height: 5px;
  margin: 0;
  width: 100%;
}
.stack-trace .top-group text {
  font-family: 'Righteous', 'Nanum Gothic', cursive !important;
}
.stack-trace .sub-title {
  padding: 0px;
  background-color: #333;
  color: #fff;
  display: block;
  border: 1px solid #333;
}
.stack-trace div.stack-trace-data .summary {
  background-color: #666 !important;
  width: 100%;
  min-height: 60px;
}
.stack-trace div.stack-trace-data .summary .title {
  font-size: 16px;
  padding: 15px 15px 10px;
}
.stack-trace div.stack-trace-data .summary .title .restore-control-btns {
  background-color: #666;
  display: inline;
  margin-left: 5px;
}
.stack-trace div.stack-trace-data .summary .title .restore-control-btns > button {
  background-color: rgba(0,0,0,0.3);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 0;
  margin: 0 2px 0 0;
  font-size: 12px;
  text-align: center;
  position: relative;
}
.stack-trace div.stack-trace-data .summary .title .restore-control-btns > button:hover {
  background-color: rgba(0,0,0,0.5);
}
.stack-trace div.stack-trace-data .summary .title .restore-control-btns > button:last-child {
  margin-right: 0;
}
.stack-trace div.stack-trace-data .summary .list-summary {
  padding: 0 15px 10px;
}
.stack-trace div.stack-trace-data .sub-title {
  padding: 1px;
  background-color: #333;
  color: #fff;
  display: block;
  border: 1px solid #333;
}
.stack-trace div.stack-trace-data .sub-title span.label {
  width: 120px;
  background-color: #333;
}
.stack-trace div.stack-trace-data > div {
  white-space: nowrap;
  display: table;
  table-layout: fixed;
}
.stack-trace div.stack-trace-data span {
  padding: 7px 10px;
  box-sizing: border-box;
  display: table-cell;
}
.stack-trace div.stack-trace-data span.label {
  width: 120px;
  background-color: #eee;
}
.stack-trace div.stack-trace-data span.data {
  white-space: nowrap;
}
.stack-trace div.stack-trace-data .stack-trace-content {
  margin-top: 5px;
  margin-left: 7px;
  border: 1px solid #333;
  padding: 0px 10px;
  width: 98%;
  overflow: auto;
}
.stack-trace div.stack-trace-data .stack-trace-content pre {
  background-color: #fff !important;
}
.stack-trace div.stack-trace-data .stack-trace-content pre code {
  font-family: 'Righteous', 'Nanum Gothic', cursive !important;
}
.stack-trace div.stack-trace-data.wrap span.data {
  white-space: normal;
  word-break: break-all;
}
.narrow .stack-trace .sub-title {
  padding: 3px 10px;
}
@media screen and (max-width: 800px) {
  .stack-trace {
    padding: 10px;
    font-size: 12px;
  }
  .stack-trace div.xlog-data {
    margin-bottom: 10px;
  }
}
