.stack-trace {
  padding: 10px;
  font-size: 12px;
}
.stack-trace .line {
  height: 5px;
  margin: 0;
  width: 100%;
}
.stack-trace .top-group text {
  font-family: 'Righteous', 'Nanum Gothic', cursive !important;
}
.stack-trace .sub-title {
  padding: 10px;
  border-radius: 3px 3px 0 0;
  background-color: #333;
  color: #fff;
  display: block;
  border: 1px solid #333;
}
.stack-trace div.xlog-data .summary {
  background-color: #666 !important;
  margin-bottom: 5px;
}
.stack-trace div.xlog-data .stack-trace-content {
  margin-top: 20px;
  border-radius: 3px 3px 0 0;
  border: 1px solid #333;
  padding: 0px 10px;
  width: 98%;
  overflow: auto;
}
.stack-trace div.xlog-data .stack-trace-content pre {
  background-color: #fff !important;
}
.stack-trace div.xlog-data .stack-trace-content pre code {
  font-family: 'Righteous', 'Nanum Gothic', cursive !important;
}
.stack-trace div.xlog-data .sub-title {
  padding: 1px;
  border-radius: 3px 3px 0 0;
  background-color: #333;
  color: #fff;
  display: block;
  border: 1px solid #333;
}
.stack-trace div.xlog-data .sub-title span.label {
  width: 120px;
  background-color: #333;
}
.stack-trace div.xlog-data > div {
  white-space: nowrap;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.stack-trace div.xlog-data span {
  padding: 7px 10px;
  box-sizing: border-box;
  display: table-cell;
}
.stack-trace div.xlog-data span.label {
  width: 120px;
  background-color: #eee;
}
.stack-trace div.xlog-data span.data {
  white-space: nowrap;
}
.stack-trace div.xlog-data.wrap span.data {
  white-space: normal;
  word-break: break-all;
}
.narrow .stack-trace .sub-title {
  padding: 3px 10px;
}
@media screen and (max-width: 800px) {
  .stack-trace {
    padding: 10px;
    font-size: 12px;
  }
  .stack-trace div.xlog-data {
    margin-bottom: 10px;
  }
}
