.active-service {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    color: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 51;
    padding: 0 40px;
    font-size: 11px;
}

.active-service > div {
    max-width: 1600px;
    position: relative;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 80px);
    margin: 40px auto;
    border-radius: 2px;
    padding: 0;
    box-sizing: border-box;
}

.active-service .active-title {
    height: 36px;
    box-sizing: border-box;
}

.active-service .active-title h2 {
    margin: 6px 0 18px;
}

.active-service .active-list {
    width: 100%;
    height: calc(100% - 60px);
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0;
}

.active-service .active-layout {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
}

.active-service .active-layout .summary {
    height: 60px;
    background-color: #666;
    box-sizing: border-box;
    color: #fff;
    position: relative;
}

.active-service .active-layout.left .summary {
    padding-left: 45px;
}

.active-service .active-layout .summary .close-btn {
    position: absolute;
    top: 7px;
    right: 5px;
}

.active-service .active-layout .summary .title {
    font-size: 16px;
    padding: 11px 15px 2px;
    white-space: nowrap;
}

.active-service .active-layout.left .summary .title {
    padding: 11px 0 2px;
}

.active-service .active-layout .summary .title .select-info {
    font-size: 10px;
}

.active-service .active-layout .summary .active-control-btns {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 10px;
}

.active-service .active-layout .summary .active-control-btns > button {
    background-color: #FFE600;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #333;
    padding: 0;
    font-size: 12px;
    text-align: center;
    position: relative;
}

.active-service .active-layout .summary .active-control-btns > button:hover {
    background-color: #EEC900;
}

.active-service .active-layout .summary .list-summary {
    padding: 0 15px 2px;
}

.active-service .active-layout.left .summary .list-summary {
    padding: 0 0 2px;
    white-space: nowrap;
}

.active-service .active-layout.right .summary {
    background-color: #444;
}

.active-service .active-layout.right .summary .title {
    padding: 15px 15px 10px;
}

.active-service .active-layout.right .summary .list-summary {
    padding: 0 15px 10px;
    margin-top: 7px;
}

.active-service .active-layout .stack-trace {
    width: 100%;
    height: calc(100% - 60px);
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0;
}

.active-service .active-layout .stack-trace .no-profile {
    height: 100%;
    width: 100%;
    display: table;
    font-size: 18px;
}

.active-service .active-layout .stack-trace .no-profile > div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.active-service .active-layout .stack-trace .no-profile > div:before {
    content: '<';
}

.active-service .active-layout .stack-trace .no-profile > div:after {
    content: '>';
}

.active-service .close-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    right: 5px;
}

.active-service .close-btn:before,
.active-service .close-btn:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    box-sizing: border-box;
}

.active-service .close-btn:hover:before,
.active-service .close-btn:hover:after {
    background: #ffe600;
}

.active-service .close-btn:before {
    transform: rotate(45deg);
}

.active-service .close-btn:after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 800px) {
    .active-service {
        padding: 0 10px;
    }

    .active-service > div {
        height: calc(100% - 20px);
        margin: 10px auto;
    }

    .active-service .profile-list-btn {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 24px;
        padding-top: 17px;
        text-align: center;
        width: 40px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .active-service .profile-list-btn:hover {
        color: #ffe600;
    }
}

.active-service .splitter-layout .layout-pane::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.2);
}

.active-service .splitter-layout .layout-pane::-webkit-scrollbar-thumb {
    background-color: #1D88EA;
    background-color: rgba(0, 0, 0, 0.6);
}

.active-service .splitter-layout .layout-pane.layout-pane-primary {
    overflow-x: hidden;
}

.active-service .splitter-layout > .layout-splitter {
    background-color: #FFE600;
}

.active-service .splitter-layout > .layout-splitter:hover {
    background-color: #EEC900;
}

