.step-div {
    margin-top: 8px;
    width: 100%;
}

.narrow .step-div {
    margin-top: 2px;
}

.step-div.has-gab.show-gab {
    margin-top: 0;
}

.step-div .gap-time {
    text-align: center;
}

.step-div .gap-time > div {
    display: inline-block;
    padding: 5px 10px;
    background-color: #DDD;
    border-radius: 5px;
    margin: 10px 0;
}

.narrow .step-div .gap-time > div {
    padding: 0 10px;
    margin: 3px 0;
    line-height: 50%;
    font-weight: bold;
}

.step-div .gap-time .arrow {
    font-size: 12px;
}
