.api-call-sum-step .message-content {
    padding: 9px 15px;
    color: #1a237e;
    font-weight: bold;
    font-size: 11px;
}

.api-call-sum-step .message-content:before {
    content:"[CALL] ";
}

.narrow .api-call-sum-step .message-content {
    padding: 2px 15px;
    background-color: #fff9c4;
}

.api-call-sum-step .message-content > span {

}


