.request-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    overflow: hidden;
    z-index: 10;
}

.request-bar > div {
    width: 20px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: -20px;
}

.request-bar > div.request {
    left: 100%;
    transition: left 1s;
    transition-timing-function: ease-in-out;
}