.xlog-mover {
    box-sizing: border-box;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.xlog-mover > div {
    display: inline-block;
    width: 5px;
    height: 5px;
    position: absolute;
    right : -5px;
    bottom : -5px;
    background-color: #499DF5;
    opacity: 0.3;
}

.xlog-mover > div.has-error {
    background-color: #CC1100;
}