.method-step .message-content {
    color: #5B59BA;
    padding: 9px 5px;
}

.narrow .method-step .message-content {
    padding: 2px 5px;
}

.method-step .message-content .gray {
    color: #AAAAAA;
}
