.line-chart-wrapper {
    position: relative;
}

.line-chart-wrapper .line-chart path {
    fill: none;
    stroke-width: 2px;
    opacity: 0.6;
}

.line-chart-wrapper .no-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 2px 2px;
}

.line-chart-wrapper .no-data > div {
    display: table;
    width: 100%;
    height: 100%;
}

.line-chart-wrapper .no-data > div > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.tooltip-overlay {
    fill: none;

    pointer-events: all;

}

.hover-line {
    stroke: #6F257F;
    stroke-width: 2px;
    opacity: 0.9;
}
.focus-hover-line {
    stroke: #e03d60;
    stroke-width: 2px;
    opacity: 0.8;
}
.tooltip-focus circle {
    fill: none;
    stroke-width: 2px;
    opacity: 0.5;
}

/*.line-chart-wrapper text {*/
    /*font-size: 8px;*/
/*}*/

.line-chart-wrapper .axis-button {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    border-radius: 1px;
    cursor: pointer;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: 10px;
}

.line-chart-wrapper .axis-button:hover {
    background-color: #FBDB0C;
}

.line-chart-wrapper .axis-button.axis-up {
    left: 2px;
}

.line-chart-wrapper .axis-button.axis-down {
    top: 16px;
}

.line-chart-wrapper .axis-x path,
.line-chart-wrapper .axis-x line,
.line-chart-wrapper .axis-y path,
.line-chart-wrapper .axis-y line,
.line-chart-wrapper .grid-x path,
.line-chart-wrapper .grid-x line,
.line-chart-wrapper .grid-y path,
.line-chart-wrapper .grid-y line {
    stroke: #333;
    stroke-width: 1px;
}