.papers-controls {
    padding: 6px;
    margin: 10px 10px 0;
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 32px;
    box-sizing: border-box;
    position: relative;
    z-index: 20;
}



.papers-controls.fixed-control {
    position: fixed;
    top: 0;
    width: 100%;
    width: calc(100% + 7px);
    z-index: 10;
    background-color: #207ce5;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.papers-controls .paper-control-separator {
    width: 2px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 10px 0;
    border-radius: 1px;
    position: relative;
    top: 3px;
}

.papers-controls .paper-control {
    display: inline-block;
    margin: 0 2px;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    line-height: 100%;
    cursor: pointer;
    height: 20px;
    box-sizing: border-box;
}

.papers-controls .paper-control.multi-control {
    position: relative;
    top: -2px;
}

.papers-controls .paper-control .draggable {
    cursor: move;
}

.papers-controls .paper-right {
    float: right;
}

.papers-controls .paper-control:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.papers-controls .label {
    font-size: 8px;
    padding: 5px 4px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.papers-controls .paper-control .text-icon {
    font-size: 8px;
    line-height: 0;
    position: relative;
    top: -3px;
}

.papers-controls .multi-metrics {
    font-size: 8px;
    position: relative;
    cursor: auto;
}

.papers-controls .multi-metrics ul {
    position: absolute;
    line-height: 100%;
    left: -5px;
    top: 17px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #26466D;
    border-radius: 2px;
    display: none;
    z-index: 21;
}


.papers-controls .multi-metrics:hover ul {
    display: inline-block;
}

.papers-controls .multi-metrics ul li {

}

.papers-controls .multi-metrics ul li .control-item {
    line-height: 10px;
    display: block;
    padding: 5px;
}

.papers-controls .multi-metrics ul li .draggable:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.papers-controls .multi-metrics ul li span {
    white-space: nowrap;
    position: static !important;
}


@media screen and (max-width: 680px) {

    .papers-controls {
        height: 58px;
        padding-right: 30px;
        text-align: justify;
        line-height: 24px;
    }

    .papers-controls .label {
        display: none;
    }

    .papers-controls .paper-right {
        float: none;
        position: absolute;
        top : 19px;
        right : 5px;
    }

    .papers-controls.fixed-control {
        padding-right: 40px;
    }



    .papers-controls.fixed-control .paper-right {
        right : 15px;
    }

    .papers-controls.touch .multi-metrics ul {
        top: 22px;
    }

    .papers-controls .multi-metrics ul li .control-item {
        padding: 7px 5px;
    }

    .papers-controls .multi-metrics ul li .control-item:active {
        background-color: rgba(0, 0, 0, 0.3);
    }






}

