.papers-controls {
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    position: relative;
}

.papers-controls .paper-control-btn {
    display: block;
    padding: 8px 5px;
    cursor: pointer;
    text-align: center;
}

.papers-controls .paper-control-btn:hover {
    background-color: #FFCC11;
    color: #333;
    border-radius: 2px;
}

.papers-controls .paper-control-btn.half {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

.papers-controls .paper-control-btn.warning {
    background-color: #E3170D;
    color: white;
}

.papers-controls .paper-control-btn.warning:hover {
    background-color: #FC1501;
}

.papers-controls .paper-control-btn.half:first-child {
    border-radius: 2px 0 0 2px;
}

.papers-controls .paper-control-btn.half:last-child {
    border-radius: 0 2px 2px 0;
}

.papers-controls .paper-control .paper-control-text {
    margin-left: 5px;
}

.papers-controls .paper-control.multi-control {
    display: block;
    padding: 0;
}

.papers-controls .paper-control .draggable {
    cursor: move;
}

.papers-controls .paper-control-metrics {

}

.papers-controls .paper-control .text-icon {
    font-size: 11px;
    line-height: 0;
    position: relative;
    margin-left: 5px;
}

.papers-controls .multi-metrics {

    position: relative;
    cursor: auto;
}

.papers-controls .group-name {
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
}

.papers-controls .group-name:hover {
    color: #333;
    background-color: #FFCC11;
    cursor: pointer;
}

.papers-controls .group-name span.name {
    display: inline-block;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 2px;
}

.papers-controls .opened .group-name span.name {
    color: #333;
    background-color: #FFCC11;
}

.papers-controls .group-name .toggle-filter-icon {
    position: absolute;
    font-size: 14px;
    width: 20px;
    height: 20px;
    padding-top: 4px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    right: 5px;
    top: 3px;
}

.papers-controls ul {
    line-height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    height: 0;
    overflow: hidden;
}

.papers-controls .paper-control.opened {
    background-color: rgba(0, 0, 0, 0.2);
}

.papers-controls .paper-control.opened ul {
    height: auto;
    padding: 5px 10px;
}

.papers-controls ul li {
    display: inline-block;
    width: calc((100% - 5px) / 2);
    overflow-x: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin-bottom: 5px;
    position: relative;
    overflow-y: hidden;
}

.papers-controls ul li.no-metric {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 10px;
}

.papers-controls ul li .draggable-icon {
    position: absolute;
    font-size: 8px;
    top: 6px;
    right: 4px;
    text-transform: uppercase;
    padding: 2px 4px;
    background-color: orange;
    border-radius: 3px;
    display: none;
    cursor: move;
}

.papers-controls ul li:hover .draggable-icon {
    display: inline-block;
}

.papers-controls ul li:nth-child(2n-1) {
    margin-right: 5px;
}

.papers-controls ul li .paper-control-item {
    display: block;
    padding: 8px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    _border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.papers-controls ul li:hover .draggable,
.papers-controls ul li:hover .paper-control-item {
    color: #333;
    background-color: #FFCC11;

}

.papers-controls ul li span {
    white-space: nowrap;
    position: static !important;
}