/* GENERAL */
.xlog-steps .general {
    background-color: #DDD;
    padding: 0;
}

.xlog-steps .general > span {
    display: inline-block;
    padding: 4px 4px;
    box-sizing: border-box;
    line-height: 100%;
}

.narrow .xlog-steps .general > span {
    padding: 1px 4px;
}

.xlog-steps .general .index {
    width: 60px;
    padding: 2px 0;
    text-align: center;
}

.narrow .xlog-steps .general .index {
    padding: 1px 0;
}

.xlog-steps .general .type {
    text-align: center;
    width: 100px;
    background-color: #EEE;

}

/*.xlog-steps .general .start-time {*/
    /*text-align: center;*/
    /*!*width: 165px;*!*/
/*}*/

/*.xlog-steps .general .elapsed {*/
    /*width: 80px;*/
    /*text-align: right;*/
    /*background-color: #EEE;*/
/*}*/

.xlog-steps .general .start-time {
    text-align: center;
    background-color: #EEE;
}

.xlog-steps .general .elapsed {
    width: 90px;
    text-align: right;
}

.xlog-steps .general .value {
    text-align: left;
    margin-left: 10px;
}
