/* GENERAL */
.xlog-steps .general {
    background-color: #DDD;
    padding: 0;
}

.xlog-steps .general > span {
    display: inline-block;
    padding: 4px 4px;
    box-sizing: border-box;
    line-height: 100%;
}

.xlog-steps .general .index {
    width: 60px;
    padding: 2px 0;
    text-align: center;
}

.xlog-steps .general .type {
    text-align: center;
    width: 100px;
    background-color: #EEE;

}

.xlog-steps .general .start-time {
    text-align: center;
    width: 165px;
}

.xlog-steps .general .elapsed {
    width: 80px;
    text-align: right;
    background-color: #EEE;
}

.xlog-steps .general .value {
    text-align: left;
    margin-left: 10px;
}
