.xlog-profiler {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    color: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 51;
    padding: 0 40px;
    font-size: 11px;
}

.xlog-profiler > div {
    max-width: 1600px;
    position: relative;
    background-color: white;
    width: 100%;
    height: calc(100% - 80px);
    margin: 40px auto;
    border-radius: 2px;
    padding: 0;
    box-sizing: border-box;
}

.xlog-profiler .profiler-title {
    height: 36px;
    box-sizing: border-box;
}

.xlog-profiler .profiler-title h2 {
    margin: 6px 0 18px;
}

.xlog-profiler .close-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top : 7px;
    right : 5px;
}

.xlog-profiler .close-btn:before,
.xlog-profiler .close-btn:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: white;
    box-sizing: border-box;
}

.xlog-profiler .close-btn:hover:before,
.xlog-profiler .close-btn:hover:after {
    background: #FFE600;
}

.xlog-profiler .close-btn:before {
    transform: rotate(45deg);
}

.xlog-profiler .close-btn:after {
    transform: rotate(-45deg);
}

.xlog-profiler .profiler-layout {
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    float: left;
}

.xlog-profiler .left {
    width: 40%;
    border-right : 4px solid #207ce5;
    _border-right : 4px solid white;
    border-right : 1px solid #333;
    border-radius: 2px 0 0 0;
}

.xlog-profiler .right {
    width: 60%;
    border-radius: 0 2px 0 0;
}

.xlog-profiler .profiler-layout .summary {
    height: 60px;
    background-color: #0EBFE9;
    background-color: #3A66A7;
    background-color: #666;
    box-sizing: border-box;
    color: white;
    position: relative;
}

.xlog-profiler .profiler-layout .summary .title {
    font-size: 16px;
    padding: 15px 15px 10px;
}

.xlog-profiler .profiler-layout .summary .list-summary {
    padding: 0 15px 10px;
}

.xlog-profiler .profiler-layout.right .summary {
    background-color: #444;
}


.xlog-profiler .profile-list {
    width: 100%;
    height: calc(100% - 60px);
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0;
}

.xlog-profiler .profile-steps {
    width: 100%;
    height: calc(100% - 60px);
    box-sizing: border-box;
    overflow-y: auto;
    text-align: left;
}

.xlog-profiler .profile-steps-control {
    box-sizing: border-box;
    position: absolute;
    right : 40px;
    top : 20px;
}

.xlog-profiler .profile-steps-control .profile-control-btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 6px 8px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
}

.xlog-profiler .profile-steps-control .profile-control-btn:hover {

}

.xlog-profiler .profile-steps-control .profile-control-btn.active {
    background-color: rgba(0,0,0,0.2);
    background-color: #FFE600;
    color: black;
}

.xlog-profiler .profile-steps-content {
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

.xlog-profiler .profile-steps-content .no-profile {
    text-align: center;
    height: 100%;
    display: table;
    width: 100%;
    font-size: 18px;
}

.xlog-profiler .profile-steps-content .no-profile > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.xlog-profiler .profile-steps-content .no-profile > div:before {
    content: '<';
}

.xlog-profiler .profile-steps-content .no-profile > div:after {
    content: '>';
}

