.xlog-profiler {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: white;
    color: #333;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 5;
    border-radius: 3px;
    font-size: 8px;
    border : 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 10px #CCC;

}

.xlog-profiler .close-btn {
    position: absolute;
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    cursor: pointer;
    box-sizing: border-box;
    top: 12px;
    right: 12px;
    z-index: 5;

}

.xlog-profiler .close-btn:before,
.xlog-profiler .close-btn:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #666;
    box-sizing: border-box;
}

.xlog-profiler .close-btn:hover:before,
.xlog-profiler .close-btn:hover:after {
    background: #000;
}

.xlog-profiler .close-btn:before {
    transform: rotate(45deg);
}

.xlog-profiler .close-btn:after {
    transform: rotate(-45deg);
}

.xlog-profiler .profile-list {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    border-right: 2px solid #CCC;
    transition: width 0.3s;
    position: absolute;
    top : 0;
    left : 0;
    box-sizing: border-box;
}

.xlog-profiler.select-row .profile-list {
    width: 20%;
    transition: width 0.3s;

}

.xlog-profiler .profile-list .xlog-list {
    width: 100%;
    display: table;
    text-align: left;
}

.xlog-profiler .profile-list .xlog-list > div.row {
    display: table-row;
    cursor: pointer;
}

.xlog-profiler .profile-list .xlog-list > div.row.error {
    color : #FF030D;
}

.xlog-profiler .profile-list .xlog-list > div.row.active {
    background-color: #1b6d85;
    background-color: #26466d;
    color: white;
}

.xlog-profiler .profile-list .xlog-list > div.row.error.active {
    color : #FF030D;
}

.xlog-profiler .profile-list .xlog-list > div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.xlog-profiler .profile-list .xlog-list > div.header.row {
    background-color: #DDD;
}

.xlog-profiler .profile-list .xlog-list > div:first-child > span {
    border-top: 1px solid #CCC;
}

.xlog-profiler .profile-list .xlog-list > div > span {
    display: table-cell;
    line-height: 100%;
    vertical-align: middle;
    white-space: nowrap;
    padding: 4px;
    border-bottom: 1px solid #CCC;
}
.xlog-profiler .profile-list .xlog-list > div > span.apicallCount,
.xlog-profiler .profile-list .xlog-list > div > span.apicallTime,
.xlog-profiler .profile-list .xlog-list > div > span.elapsed,
.xlog-profiler .profile-list .xlog-list > div > span.cpu,
.xlog-profiler .profile-list .xlog-list > div > span.queuingTime,
.xlog-profiler .profile-list .xlog-list > div > span.sqlTime {
    text-align: right;
}

.xlog-profiler .line {
    height: 2px;
    background-color: #DDD;
    margin: 10px 0;
}
.xlog-profiler .profile-steps {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    transition: width 0.3s;
    position: absolute;
    top : 0;
    right : 0;
    box-sizing: border-box;
    transition: width 0.3s;
    text-align: left;
}

.xlog-profiler .profile-steps div.xlog-data {

}

.xlog-profiler .profile-steps  div.xlog-data span {
    padding: 5px;
    display: inline-block;
}

.xlog-profiler .profile-steps div.xlog-data span.label {
    width: 100px;
}

.xlog-profiler .profile-steps.select-row {
    width: 80%;
    transition: width 0.3s;
}

.xlog-profiler .profile-steps .xlog-steps {
    line-height: 300%;
}
