.xlog-profiler {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 51;
    font-size: 8px;
}

.xlog-profiler > div {
    max-width: 1600px;
    position: relative;
    background-color: white;
    width: 100%;
    height: calc(100% - 20px);
    margin: 10px auto;
    border: 1px solid #333;
}

.xlog-profiler .close-btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

.xlog-profiler .close-btn:before,
.xlog-profiler .close-btn:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #666;
    box-sizing: border-box;
}

.xlog-profiler .close-btn:hover:before,
.xlog-profiler .close-btn:hover:after {
    background: #000;
}

.xlog-profiler .close-btn:before {
    transform: rotate(45deg);
}

.xlog-profiler .close-btn:after {
    transform: rotate(-45deg);
}

.xlog-profiler .profile-list {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    border-right: 2px solid #CCC;
    transition: width 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.xlog-profiler.select-row .profile-list {
    width: 20%;
    transition: width 0.3s;
}

.xlog-profiler .profile-steps {
    width: 50%;
    height: 100%;
    padding: 0;
    transition: width 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    transition: width 0.3s;
    text-align: left;
}

.xlog-profiler .profile-steps-control {
    height: 20px;
    box-sizing: border-box;
    border-bottom : 1px solid #CCC;
}

.xlog-profiler .profile-steps-control .profile-control-btn {
    display: inline-block;
    height: 20px;
    box-sizing: border-box;
    padding: 4px 6px 0;
    border-right: 1px solid #CCC;
    cursor: pointer;
}

.xlog-profiler .profile-steps-control .profile-control-btn:hover {
    background-color: #AFE4FD;
}

.xlog-profiler .profile-steps-control .profile-control-btn.active {
    background-color: #1464F4;
    color: white;
}

.xlog-profiler .profile-steps-content {
    overflow-y: auto;
    height: calc(100% - 20px);
    box-sizing: border-box;
}

.xlog-profiler .profile-steps.select-row {
    width: 80%;
    transition: width 0.3s;
}