div#root {
    height: 100%;
    padding: 0;
    margin: 0;
}

div#root > div {
    height: 100%;
}

article.content-wrapper {
    height: calc(100% - 50px);
    height: 100%;
    margin-left: 40px;
    width: calc(100% - 40px);
}

article.content-wrapper.fixed {
    margin-left: 400px;
    width: calc(100% - 400px);
}

.content-wrapper > div {
    height: 100%;
}

.content-wrapper-enter {
    opacity: 0.01;
    transition: opacity 0.1s ease-in;
}

.content-wrapper-enter.content-wrapper-enter-active {
    opacity: 1;
}

.content-wrapper-leave {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.content-wrapper-leave.content-wrapper-leave-active {
    opacity: 0.01;
}