div#root {
    height: 100%;
    padding: 0;
    margin: 0;
}

div#root > div {
    height: 100%;
}

article.content-wrapper {
    height: 100%;
    width: calc(100% - 40px);
    margin-left: 40px;
    transition: all 0.3s;
}

article.content-wrapper.max.pinned {
    margin-left: 400px;
    width: calc(100% - 400px);
    transition: all 0.3s;
}

.content-wrapper > div {
    height: 100%;
}

.content-wrapper-enter {
    opacity: 0.01;
    transition: opacity 0.1s ease-in;
}

.content-wrapper-enter.content-wrapper-enter-active {
    opacity: 1;
}

.content-wrapper-leave {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.content-wrapper-leave.content-wrapper-leave-active {
    opacity: 0.01;
}

@media screen and (max-width: 800px) {
    article.content-wrapper.min {
        height: 100%;
        width: 100%;
        margin-left: 0;
        transition: all 0.3s;
    }

    article.content-wrapper.max {
        height: 100%;
        width: 100%;
        margin-left: 0;
        transition: all 0.3s;
    }

    article.content-wrapper.max.pinned {
        height: 100%;
        width: 100%;
        margin-left: 0;
        transition: all 0.3s;
    }
}