.xlog-flow {
  position: relative;
}
.xlog-flow .title {
  padding: 8px;
  background-color: #333;
  color: #fff;
  height: 36px;
  box-sizing: border-box;
}
.xlog-flow .title span {
  display: inline-block;
  padding: 4px;
}
.xlog-flow .close-btn {
  position: absolute;
  top: 7px;
  right: 5px;
  display: inline-block !important;
}
.xlog-flow .flow-content {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}
