.stack-content {
  padding: 20px;
  font-size: 12px;
}
.stack-content .sub-title {
  padding: 10px;
  border-radius: 3px 3px 0 0;
  background-color: #333;
  color: #fff;
  display: block;
  border: 1px solid #333;
}
.stack-content .sub-title > div {
  white-space: nowrap;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.stack-content .sub-title span {
  box-sizing: border-box;
  display: table-cell;
}
.stack-content .sub-title span.label {
  padding-left: 5px;
  width: 115px;
}
.stack-content .sub-title span.data {
  white-space: nowrap;
}
.stack-content div.stack-frame {
  margin-bottom: 20px;
}
.stack-content div.stack-frame > div {
  white-space: nowrap;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.stack-content div.stack-frame span {
  padding: 7px 10px;
  box-sizing: border-box;
  display: table-cell;
}
.stack-content div.stack-frame span.label {
  width: 115px;
  background-color: #eee;
}
.stack-content div.stack-frame span.data {
  white-space: nowrap;
}
.stack-content div.stack-trace-content pre {
  margin: 0 !important;
  font-size: 13px;
}
.stack-content div.stack-trace-content pre.hljs code {
  line-height: 20px;
  font-family: 'Righteous', 'Nanum Gothic', cursive !important;
}
