li.target-instance {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #DDD;
    cursor: pointer;
    position: relative;
    background-color: white;
    border-top: none;
}

li.target-instance:first-child {
    border-top: 1px solid #DDD;
}

li.target-instance:hover {
    z-index: 2;
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

li.target-instance > div {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}

li.target-instance > div.status {
    width: 50px;
    text-align: center;
    position: relative;
}

li.target-instance > div.status > span.icon {
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: none;
    border-radius: 50%;
    padding-top: 4px;
    box-sizing: border-box;
}

li.target-instance > div.status > span.text {
    font-size: 8px;
    display: inline-block;
    padding: 2px;
    position: absolute;
    background-color: #0BB5FF;
    color: white;
    display: none;
    font-family: Arial;
    font-weight: bold;
    width: 30px;
    left : 10px;
    bottom : 8px;
    box-sizing: border-box;
}

li.target-instance > div.status.true > span.true {
    display: inline-block;
}

li.target-instance > div.status.false > span.false {
    display: inline-block;
}

li.target-instance > div.status.true > span.icon.true {
    background-color: #FCD116;
}

li.target-instance > div.status.false > span.icon.false {
    background-color: #666;
    color: white;

}

li.target-instance > div.instance-info {
    padding: 10px;
    position: relative;
}

li.target-instance > div.instance-info .checker {
    position: absolute;
    bottom : 0px;
    right : 5px;
    font-size: 24px;
    display: none;
}

li.target-instance.selected > div.instance-info .checker {
    display: inline-block;
}

li.target-instance > div.instance-info .version {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 4px 2px;
    display: inline-block;
}

li.target-instance > div.instance-info .version:empty {
    border: none;
}

li.target-instance > div.instance-info .objName {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px 0 5px 0;
    font-weight: bold;
    font-size: 12px;
}
li.target-instance > div.instance-info .tag-name,
li.target-instance > div.instance-info .tag-val {
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 3px 5px 2px;
    background-color: white;
    text-transform: uppercase;
}

li.target-instance > div.instance-info .tag-name {
    border-radius: 5px 0 0 5px;
}

li.target-instance > div.instance-info .tag-val {
    border-radius: 0 5px 5px 0;
    margin-right: 5px;
    border-left: 0;
}