.topology-wrapper {
    height: calc(100% - 71px);
    margin: 10px;
    box-sizing: border-box;
}

.topology-wrapper .controller {
    height: 30px;
    text-align: right;
    position: relative;
    background-color: rgba(0,0,0,0.1);
}

.topology-wrapper .controller > div {
    height: 100%;
    display: inline-block;
    position: absolute;
    top :0;
    box-sizing: border-box;
}

.topology-wrapper .controller .right {
    right : 6px;
    padding-top: 6px;
}

.topology-wrapper .controller .right .group {
    display: inline-block;
    margin-left: 6px;
}

.topology-wrapper .controller .left {
    left : 6px;
    padding-top: 8px;
}

.topology-wrapper .controller .summary {
    color: white;
    display: inline-block;
    font-size: 9px;
    margin-right: 5px;
    padding: 2px 4px;
}


.topology-wrapper .controller .check-btn {
    display: inline-block;
    font-size: 9px;
    padding: 2px 4px;
    border: 1px solid rgba(0,0,0,0.3);
    border-right: none;
    width: 60px;
    box-sizing: border-box;
    text-align: center;
    background-color: #CCC;
    cursor: pointer;
}

.topology-wrapper .controller .check-btn:hover {
    background-color: #EEE;
}

.topology-wrapper .controller .check-btn.on {
    background-color: #FFCC11;
}

.topology-wrapper .controller .check-btn.on:hover {
    background-color: #FFC125;
}

.topology-wrapper .controller .check-btn:first-child {
    border-radius: 3px 0 0 3px;
}

.topology-wrapper .controller .check-btn:last-child {
    border-right: 1px solid rgba(0,0,0,0.3);
    border-radius: 0 3px 3px 0;
}

.topology-wrapper .topology-chart {
    height: calc(100% - 30px);
}


.topology-wrapper svg text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-family: 'Righteous', 'Nanum Gothic', cursive;
}

@keyframes flow {
    from {
        stroke-dashoffset: 14;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes flow {
    from {
        stroke-dashoffset: 14;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.edge-flow-path {
    fill: none;
    stroke: white;
    opacity: 0.5;
    stroke-width: 4;
    stroke-dasharray: 10, 4;
    animation: flow 1s infinite steps(20);
    webkit-animation: flow 1s infinite steps(20);

    /* animation speed optimized in human eyes by speed & frame.*/
    /*animation: flow 8s infinite steps(160);*/
    /*webkit-animation: flow 8s infinite steps(160);*/
    /*animation: flow 4s infinite steps(80);*/
    /*webkit-animation: flow 4s infinite steps(80);*/
    /*animation: flow 2s infinite steps(40);*/
    /*webkit-animation: flow 2s infinite steps(40);*/
    /*animation: flow 1s infinite steps(20);*/
    /*webkit-animation: flow 1s infinite steps(20);*/
    /*animation: flow 0.7s infinite steps(14);*/
    /*webkit-animation: flow 0.7s infinite steps(14);*/
    /*animation: flow 0.4s infinite steps(8);*/
    /*webkit-animation: flow 0.4s infinite steps(8);*/
    /*animation: flow 0.2s infinite steps(4);*/
    /*webkit-animation: flow 0.2s infinite steps(4);*/
}

.edge-flow-path.error {
stroke: red;
}

.edge-text-path {
font-size: 10px;
fill: white;
}

.error-rate-tspan {
fill: red;
}

.edge-path {
fill: none;
stroke: black;
stroke: none;
stroke-width: 1.5px;
}

.edge-text {

}


