.topology-wrapper {
    height: calc(100% - 60px);
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 800px) {
    .topology-wrapper {
        height: calc(100% - 45px);
    }
}


.topology-wrapper > div {
    height: 100%;
}
.topology-wrapper .topology-chart > div.tooltip {
    position: absolute;
    background-color: white;
    max-width: 250px;
    height: auto;
    padding: 1px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    pointer-events: none;
    font-weight: bold;
}

.topology-wrapper .topology-chart > div.tooltip > div.tooltip-group {
    margin-bottom: 2px;
    margin-top : 10px;
    padding-left: 5px;
}
.topology-wrapper .topology-chart > div.tooltip > div.tooltip-group > div.tooltip-counter {
    margin-left: 10px;

}
.topology-wrapper .topology-chart > div.tooltip > div {

}
.topology-wrapper .topology-chart > div.tooltip > div > p{
    padding: 0px;
    margin-bottom: 5px;
    white-space: pre-wrap;
}
.topology-wrapper .topology-chart {
    height: 100%;
    overflow: hidden;
}

.topology-wrapper svg text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-family: 'Righteous', 'Nanum Gothic', cursive;
}

@keyframes flow {
    from {
        stroke-dashoffset: 14;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes flow {
    from {
        stroke-dashoffset: 14;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes blink {
    50% {
        fill: #ffffff;
    }
}

.edge-flow-path {
    fill: none;
    stroke: white;
    stroke-opacity: 0.5;
    stroke-width: 4;
    stroke-dasharray: 10, 4;

    /*animation: flow 1s infinite steps(20);*/
    /*webkit-animation: flow 1s infinite steps(20);*/

    /* animation speed optimized in human eyes by speed & frame.*/
    /*animation: flow 8s infinite steps(160);*/
    /*webkit-animation: flow 8s infinite steps(160);*/
    /*animation: flow 4s infinite steps(80);*/
    /*webkit-animation: flow 4s infinite steps(80);*/
    /*animation: flow 2s infinite steps(40); */
    /*webkit-animation: flow 2s infinite steps(40);*/
    /*animation: flow 1s infinite steps(20); */
    /*webkit-animation: flow 1s infinite steps(20);*/
    /*animation: flow 0.7s infinite steps(14); */
    /*webkit-animation: flow 0.7s infinite steps(14);*/
    /*animation: flow 0.4s infinite steps(8); */
    /*webkit-animation: flow 0.4s infinite steps(8);*/
    /*animation: flow 0.2s infinite steps(4); */
    /*webkit-animation: flow 0.2s infinite steps(4);*/
}

.edge-flow-path.error {
    stroke: red;
}

.edge-text-path {
    font-size: 10px;
    fill: white;
}

.error-rate-tspan {
    fill: red;
}

.edge-path {
    fill: none;
    stroke: black;
    stroke: none;
    stroke-width: 1.5px;
}

.edge-text {

}

.topology-wrapper .no-topology-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    display: table;
}

.topology-wrapper .no-topology-data > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.3);
}

.topology-wrapper .no-topology-data > div .logo-div {
    margin-bottom: 10px;
}

.topology-wrapper .no-topology-data > div .logo-div img {
    width: 60px;
}


.node-group circle.cpu-WARNING{
    animation: blink 4s ease-in 0s infinite;
}
.node-group circle.cpu-IN-DANGER{
    animation: blink 2s ease-in 0s infinite;
}