.target-info {
    background-color: white;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    background-color: #0EBFE9;
    background-color: #E3170D;
    background-color: #292421;
    background-color: #629632;
    background-color: #1E90FF;
    color: white;
    _border-bottom: 1px solid rgba(0,0,0,0.2);
}

.target-info > div {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 100%;
    max-width: 2400px;
    margin: 0 auto;
}

.target-info > div > div {
    display: table-cell;
    vertical-align: middle;
}

.target-info .target-instances {
    width: 200px;
    text-align: left;
    padding-left: 10px;
    position: relative;
}

.target-info .target-instances .object-count {
    padding-top: 2px;
    display: inline-block;
}

.target-info .target-instances .object-show-btn {
    position: absolute;
    top : calc(50% - 10px);
    right : 0;
    font-size: 16px;
    padding: 2px 4px 1px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.target-info .target-instances .object-show-btn:hover {
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.target-info .logo {
    text-align: center;
    position: relative;

}

.target-info .logo .icon {
    position: relative;
    display: none;
}

.target-info .logo .icon > span {
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 4px;
    font-size: 36px;
    color: black;
    display: none;
}

.target-info .logo .text {
    position: absolute;
    width: 100%;
    text-align: center;
    top : calc(50% - 11px);
    display: none;
}

.target-info .logo .text > span {
    background-color: rgba(0,0,0,0.3);
    _background-color: white;
    display: inline-block;
    padding: 6px 12px 5px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    _color: #333;
}

.target-info .target-controls {
    width: 200px;
    text-align: right;
    padding-right: 10px;
}

.target-info .target-controls > span {
    cursor: pointer;
}

