.icon-img-wrapper {
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.icon-img-wrapper > div {
    background-color: white;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
.icon-img-wrapper .icon-img {
    width: 100%;
    height: 100%;
}