.xlog-profile-list {
    width: 100%;
    display: table;
    text-align: left;
}

.xlog-profile-list > div.row {
    display: table-row;
    cursor: pointer;
}

.xlog-profile-list > div.row.async {
    color: #AAAAAA;
}

.xlog-profile-list > div.row.error {
    color: #FF030D;
}

.xlog-profile-list > div.row.error.async {
    color: #FF8787;
}

.xlog-profile-list > div.row.active {
    background-color: #26466d;
    color: white;
}

.xlog-profile-list > div.row.error.active {
    color: #FF82AB;
}

.xlog-profile-list > div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.xlog-profile-list > div.header.row {
    background-color: #F2F2F2;
}

.xlog-profile-list > div:first-child > span {
    border-top: 1px solid #CCC;
}

.xlog-profile-list > div.header:first-child > span {
    border-top: none;
}

.xlog-profile-list > div.header.row.fixed > span {
    position: sticky;
    top: 0;
    background-color: #F2F2F2;
}

.xlog-profile-list > div > span {
    display: table-cell;
    line-height: 100%;
    vertical-align: middle;
    white-space: nowrap;
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.xlog-profile-list > div.header > span {
    border-bottom: none;
}

.xlog-profile-list > div > span.apicallCount,
.xlog-profile-list > div > span.apicallTime,
.xlog-profile-list > div > span.elapsed,
.xlog-profile-list > div > span.cpu,
.xlog-profile-list > div > span.queuingTime,
.xlog-profile-list > div > span.sqlCount,
.xlog-profile-list > div > span.sqlTime,
.xlog-profile-list > div > span.allocatedMemory,
.xlog-profile-list > div > span.hasDump {
    text-align: right;
}
