@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.controller-wrapper {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #282828;
    background-color: #104E8B;
    background-color: #26466D;
    z-index: 30;
    transition: width 0.3s;
    color: white;
    overflow-y: auto;
}

.controller-wrapper .controller-min-info {
    text-align: center;
    font-size: 10px;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.3s;

}

.controller-wrapper .controller-min-info .controller-min-info-row {
    margin-top: 10px;
    padding-top: 10px;
}

.controller-wrapper .controller-min-info .short-label {

}

.controller-wrapper .controller-min-info .short-label > span {
    display: inline-block;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}

.controller-wrapper .controller-min-info .short-time-value,
.controller-wrapper .controller-min-info .short-value {
    margin-top: 5px;
}

.controller-wrapper .controller-min-info .obj-selector:hover {
    background-color: #FFCC11;
    cursor: pointer;
}

.controller-wrapper .controller-min-info .obj-selector:hover .selector-open-btn {

    cursor: pointer;
    color: #333;
}

.controller-wrapper .controller-min-info .realtime-short-label > span {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    display: inline-block;
    padding: 4px;
}

.controller-wrapper .paper-only,
.controller-wrapper .topology-only {
    display: none;
}

.controller-wrapper.paper-menu .paper-only {
    display: block;
}

.controller-wrapper.topology-menu .topology-only {
    display: block;
}

.controller-wrapper.min {
    width: 40px;
    transition: width 0.3s;
}

.controller-wrapper .controller-tabs {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.min.controller-wrapper .controller-tabs {
    display: none;
}

.controller-wrapper .controller-tabs > div {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.controller-wrapper .controller-tabs > div.selected {
    background-color: #26466D;
}

.controller-wrapper .control-item {
    margin-top: 10px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    position: relative;
}

.controller-wrapper .control-item.first {
    z-index: 3;
}

.controller-wrapper .control-item.control-item-search {
    z-index: 2;
}

.controller-wrapper .control-item.control-item-calendar {
    z-index: 1;
}

.min.controller-wrapper .control-item {
    border-bottom: none;
}

.controller-wrapper .control-item .row {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 10px;
}

.controller-wrapper .control-item .row > div {
    _padding: 5px;
    display: table-cell;
    box-sizing: border-box;
}

.controller-wrapper .control-item .row.metric-row > div {
    padding: 0;
}

.controller-wrapper .row .step {
    color: white;
    width: 26px;
    text-align: center;
}

.controller-wrapper .control-item .row > div.row-message {
    padding: 5px 0;
}

.controller-wrapper .control-item .row > div.row-message .breakpoints {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top : 3px;
    right : 10px;
    font-size: 10px;
}

.controller-wrapper .control-item .row > div.row-message .breakpoints .breakpoint {
    display: inline-block;
    padding-top: 1px;
    text-align: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-sizing: border-box;
}

.controller-wrapper .control-item .row > div.row-message .breakpoints .breakpoint:first-child {
    _border-radius: 5px 0 0 5px;
}

.controller-wrapper .control-item .row > div.row-message .breakpoints .breakpoint:last-child {
    _border-radius: 0 5px 5px 0;
}

.controller-wrapper .control-item .row > div.row-message .breakpoints .breakpoint.selected {
    background-color: rgba(0,0,0,0.6);
}

.controller-wrapper .row .step span {
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding-top: 2px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.controller-wrapper .control-item .row.control,
.controller-wrapper .row.desc {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

.min.controller-wrapper .row.desc {
    display: none;
}

.min.controller-wrapper .control-item .row.control {
    display: none;
}

.controller-wrapper .control-item .row.control {
    margin: 2px 10px 0;
    width: calc(100% - 20px);
    box-sizing: border-box;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.controller-wrapper .row .object-navigator-btn-wrapper {
    position: relative;
}

.controller-wrapper .row .object-navigator-btn {
    padding: 8px 5px;
    position: relative;
    margin-right: 25px;
}

.controller-wrapper .row .object-navigator-btn .check-all-btn {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    padding: 0 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    cursor: pointer;
}

.controller-wrapper .row .object-navigator-btn .check-all-btn.selected {
    color: #333;
    background-color: #EEB422;
}

.controller-wrapper .row .object-navigator-btn:hover {
    color: #333;
    background-color: #FFCC11;
    cursor: pointer;
}

.controller-wrapper .row .object-navigator-btn:hover .popup-icon {
    color: white;
}

.controller-wrapper .row .object-navigator-btn .toggle-filter-icon,
.controller-wrapper .row .object-navigator-btn-wrapper .popup-icon {
    position: absolute;
    font-size: 14px;
    width: 20px;
    height: 100%;
    padding-top: 7px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

.controller-wrapper .row .object-navigator-btn .toggle-filter-icon {
    top: 0;
    right: 0;
}

.controller-wrapper .row .object-navigator-btn-wrapper .popup-icon {
    top: 0;
    right: 5px;
    height: 28px;
    padding-top: 7px;
}

.controller-wrapper .row .object-navigator-btn .toggle-filter-icon:hover,
.controller-wrapper .row .object-navigator-btn-wrapper .popup-icon:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #333;
    background-color: #FFCC11;
    cursor: pointer;
}

.controller-wrapper .row .instance-objtype {
    margin-left: 5px;
}

.controller-wrapper .object-filter-list {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
}

.controller-wrapper .object-filter-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.controller-wrapper .object-filter-list ul li {
    padding: 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.controller-wrapper .object-filter-list ul li:last-child {
    margin-bottom: 0;
}

.controller-wrapper .object-filter-list ul li div.type-icon {
    width: 34px;
    height: 34px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
}

.controller-wrapper .object-filter-list ul li div.type-icon .type-icon-wrapper {
    border-radius: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

.controller-wrapper .object-filter-list ul li div.type-icon .type-icon-wrapper .object-icon {
    background-color: transparent;
    font-size: 18px;
    padding-top: 7px;
}

.controller-wrapper .object-filter-list ul li div.type-icon .type-icon-wrapper .object-icon.technology-icons {
    font-family: "technology-icons";
}

.controller-wrapper .object-filter-list ul li div.type-icon .type-icon-wrapper .object-icon.FontAwesome {
    font-family: "FontAwesome";
}

.controller-wrapper .object-filter-list ul li div.type-icon .type-icon-wrapper .object-icon.text {
    font-size: 9px;
    padding-top: 10px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.controller-wrapper .object-filter-list ul li .row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.controller-wrapper .object-filter-list ul li .row > div {
    display: table-cell;
    vertical-align: middle;
}

.controller-wrapper .object-filter-list ul li .row > div.type-icon {
    width: 34px;
    height: 34px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
}
.controller-wrapper .object-filter-list ul li .row > div.instance-text-info .instance-name.down {
    color : #8a8a8a;
}
.controller-wrapper .object-filter-list ul li .row > div.instance-text-info .instance-other.down {
    color : #8a8a8a;
}


.controller-wrapper .object-filter-list ul li.empty-object {
    text-align: center;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: auto;
}

.controller-wrapper .object-filter-list ul li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.controller-wrapper .object-filter-list ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.controller-wrapper .object-filter-list ul li.empty-object:hover {
    background-color: transparent;
}

.controller-wrapper .object-filter-list ul li.filtered {
    background-color: #FFCC11;
    color: #333;
}

@media screen and (max-width: 800px) {

    .min.controller-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        height: 45px;
        overflow-y: hidden;
        background-color: transparent;
    }

    .max.controller-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 50%;
        margin: 0;
        width: 100%;
        min-height: 425px;

    }

}
























