.overlay {
    position: fixed;
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: table;
    z-index: 100;
}

.overlay.false {
    display: none;
}

.overlay > div {
    display: table-cell;
    vertical-align: middle;
}