.login-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .login-wrapper {
        height: calc(100% - 45px);
    }
}

.login-wrapper > div {
    display: table;
    width: 100%;
    height: 100%;
}

.login-wrapper > div > div.login-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.login-wrapper .login-box {
    background-color: white;
    display: inline-block;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.login-wrapper .login-box .current-server {
    padding: 10px;
}

@media screen and (max-width: 400px) {
    .login-wrapper .login-box {
        width: 100%;
    }
}

.login-wrapper input {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.4);
    width: 100%;
    color: #333;
    outline: none;
    padding: 7px 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 10px;
    border-radius: 2px;
}

.login-wrapper input[type=password] {
    font-family: normal !important;
}

.login-wrapper .product {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    background-color: #003F87;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
}

.login-wrapper .logo-div {
    padding: 5px 0 5px;
}

.login-wrapper .login-btn {
    margin-top: 10px;
}

.login-wrapper img.logo {
    width: 60px;
}

.login-wrapper input:-ms-input-placeholder {
    color: #CCC;
}

.login-wrapper input::-webkit-input-placeholder {
    color: #CCC;
}

.login-wrapper input::-moz-placeholder {
    color: #CCC;
}

.login-wrapper input::-moz-placeholder {
    color: #CCC;
}

.login-wrapper button {
    outline: none;
    background-color: #3579DC;
    border: none;
    color: white;
    display: inline-block;
    padding: 8px 10px;
    font-size: 10px;
}

.login-wrapper button:hover {
    background-color: #3A66A7;
}

.login-wrapper .user-id,
.login-wrapper .when {
    margin-bottom: 10px;
}