/* box */
.box-droppable {
    height: 100%;
}

.box {
    height: 100%;
    box-sizing: border-box;
}

.box > div {
    height: 100%;
    box-sizing: border-box;
}

.box .title {
    padding: 0;
    line-height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    font-size: 10px;
    height: 27px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.box .title > div {
    display: table;
    height: 100%;
    position: absolute;
    top :0;
    left : 0;
}

.box .title > div > div {
    display: table-cell;
    vertical-align: middle;
}

.box .title > div > div.icons {
    white-space: nowrap;
    padding-left: 4px;
    padding-top: 2px;
    box-sizing: border-box;
    position: relative;
}

.box .title > div > div.icons .icon-img-wrapper > div {
    border: 1px solid rgba(0,0,0,0.2);
}

.box .title > div > div.title-text {
    padding-left: 2px;
}

.box .title > div > div.title-text.no-title {
    padding-left: 10px;
}

.box .title .icons > div {
    display: inline-block;
    box-sizing: border-box;
}

.box .content-wrapper {
    display: table;
    height: calc(100% - 27px);
    width: 100%;
    line-height: 100%;
    border-radius: 0 0 4px 4px;
}

.box .content-wrapper .content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
    border-radius: 0 0 4px 4px;
}

.box .title .icons .icon-text {
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 1px;
    margin-right: 3px;
    font-size: 7px;
    text-transform: uppercase;
}

.box .title .icons .separator {
    width: 1px;
    height: 10px;
    margin: 0 2px 0 2px;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    top : 3px;
}



