html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
    color: #333;
    line-height: 100%;
}

.hidden {
    display: none;
}

input,
select,
button {
    font-size: 12px;
}

select {
    border-radius: 3px;
}

button {
    padding: 0;
    line-height: 100%;
    padding: 6px 8px;
    background-color: #FFD700;
    border: none;
    color: #333;
    cursor: pointer;
    margin: 0 2px;
    outline: none;
    border-radius: 1px;
    font-size: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    background-color: #EEC900;
}

html,
body,
svg text,
input,
select,
button {
    font-family: 'Righteous';
}