html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
    color: #333;
    line-height: 100%;
    background: #207ce5;
}

body {
    margin: 0;
    padding: 0;
    background: #207ce5;
    _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207ce5', endColorstr='#499bea', GradientType=0);
}

.hidden {
    display: none;
}

input,
select,
button {
    font-size: 12px;
}

select {
    border-radius: 3px;
}

button {
    line-height: 100%;
    padding: 6px 8px;
    background-color: #FFD700;
    border: none;
    color: #333;
    cursor: pointer;
    margin: 0 2px;
    outline: none;
    border-radius: 1px;
    font-size: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    background-color: #EEC900;
}

html,
body,
svg text,
input,
select,
button {
    font-family: 'NanumSquare', 'Righteous', sans-serif;
}

.btn {
    padding: 5px 10px 7px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: 1px solid #BBB;
}

.btn:hover {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #1D88EA;
    background-color: rgba(0, 0, 0, 0.6);
    _background-color: #FCDC3B;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    background-color: #FCDC3B;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.popup-div {
    background-color: #207ce5;
}