@font-face {
    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Bungee/Bungee-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Righteous/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'Mina';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Mina/Mina-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'Cousine';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Cousine/Cousine-Regular.ttf');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Space_Mono/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: 'Handlee';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Handlee/Handlee-Regular.ttf');
}

@font-face {
    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Kavivanar/Kavivanar-Regular.ttf');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Nanum_Gothic/NanumGothic-Bold.ttf');
}

@font-face {
    font-family: 'Nanum Gothic Coding';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(./fonts/Nanum_Square/NanumSquareR.eot);
    src: url(./fonts/Nanum_Square/NanumSquareR.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Nanum_Square/NanumSquareR.woff) format('woff'),
    url(./fonts/Nanum_Square/NanumSquareR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(./fonts/Nanum_Square/NanumSquareB.eot);
    src: url(./fonts/Nanum_Square/NanumSquareB.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Nanum_Square/NanumSquareB.woff) format('woff'),
    url(./fonts/Nanum_Square/NanumSquareB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url(./fonts/Nanum_Square/NanumSquareEB.eot);
    src: url(./fonts/Nanum_Square/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Nanum_Square/NanumSquareEB.woff) format('woff'),
    url(./fonts/Nanum_Square/NanumSquareEB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url(./fonts/Nanum_Square/NanumSquareL.eot);
    src: url(./fonts/Nanum_Square/NanumSquareL.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Nanum_Square/NanumSquareL.woff) format('woff'),
    url(./fonts/Nanum_Square/NanumSquareL.ttf) format('truetype');
}
