@import url('https://fonts.googleapis.com/css?family=Bungee|Righteous|Mina|Nanum+Gothic|Noto+Sans|Nanum+Gothic+Coding|Cousine|Space+Mono|Handlee|Kavivanar');

html {
    background: #207ce5;
}

body {
    margin: 0;
    padding: 0;
    background: #207ce5;
    _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207ce5', endColorstr='#499bea', GradientType=0);
}

.btn {
    border: none;
    _background-color: #c6463d;
    _background-color: #3B6AA0;
    _color: white;
    padding: 5px 10px 7px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: 1px solid #BBB;
}

.btn:hover {
    _background-color: #26466D;
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    background-color: #FCDC3B;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
