/* THEME, index.css */
html.theme-gray {
    background: #333;
}

.theme-gray body {
    background: #333;
}

.theme-gray .popup-div {
    background: #252525;
}

/* THEME, PaperControl.css*/
.theme-gray .papers-controls {
    background-color: rgba(0, 0, 0, 0.4);
}

.theme-gray .papers-controls .multi-metrics ul {
    background-color: #161616;
}

.theme-gray .papers-controls.fixed-control {
    background-color: #161616;
}

/* THEME, XLog.css */
.theme-gray .xlog-viewer .xlog-history-stop-control > div {
    background-color: #111;
}

.theme-gray .xlog-viewer .no-longterm-support {
    background-color: #0A0A0A;
}

/* THEME, Home.css */
.theme-gray .home .home-content {
    background-color: #111;
    color: white;
}

.theme-gray .home a {
    color: white;
}

.theme-gray .home .home-content .top-div .compatibility {
    font-size: 8px;
    color: #FFE600;
}

.theme-gray .home .home-content .top-div .product {
    background-color: black;
}

/* THEME, Tooltip.css */
.theme-gray .tooltip {
    background-color: #060606;
    border: 1px solid black;
    color: white;
}

/* THEME, LineChart.css */
.theme-gray .grid-x path,
.theme-gray .grid-x line,
.theme-gray .axis-x line,
.theme-gray .grid-y path,
.theme-gray .grid-y line,
.theme-gray .axis-y line {
    stroke: white;
}

.theme-gray .axis-x text,
.theme-gray .axis-y text{
    fill: white;
}

.theme-gray .hover-line {
    stroke: #deffba;
}

/* THEME, topology-chart.css */
.theme-gray .topology-wrapper .tooltip-group{
    color: #111;
}

/* THEME, Login.css */
.theme-gray .login-wrapper .login-box {
    background-color: #111;
}

.theme-gray .login-wrapper .product {
    background-color: black;
}

.theme-gray .login-wrapper button {
    background-color: rgba(0, 0, 0, 0.6);
}

.theme-gray .login-wrapper button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.theme-gray .login-wrapper input {
    color: white;
    background-color: #000;
}

/* THEME, BoxConfig.css */
.theme-gray .box-config .box-config-item input[type=text],
.theme-gray .box-config .box-config-item select {
    background-color: #000;
    color: white;
}

/* THEME, XLog.css */
.theme-gray .xlog-viewer .axis-x path,
.theme-gray .xlog-viewer .axis-x line,
.theme-gray .xlog-viewer .axis-y path,
.theme-gray .xlog-viewer .axis-y line,
.theme-gray .xlog-viewer .grid-x path,
.theme-gray .xlog-viewer .grid-x line,
.theme-gray .xlog-viewer .grid-y path,
.theme-gray .xlog-viewer .grid-y line {
    stroke: white;
}

.theme-gray .xlog-viewer .axis-x text,
.theme-gray .xlog-viewer .axis-y text {
    fill: white;
}

.theme-gray .line-chart-wrapper .axis-x path,
.theme-gray .line-chart-wrapper .axis-x line,
.theme-gray .line-chart-wrapper .axis-y path,
.theme-gray .line-chart-wrapper .axis-y line,
.theme-gray .line-chart-wrapper .grid-x path,
.theme-gray .line-chart-wrapper .grid-x line,
.theme-gray .line-chart-wrapper .grid-y path,
.theme-gray .line-chart-wrapper .grid-y line {
    stroke: white;
    stroke-width: 1px;
}

/* THEME, App.css*/
html.theme-gray, .theme-gray body {
    color: white;
}

.theme-gray button i.fa {
    color: white;
}

.theme-gray .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.4);
}

.theme-gray .scrollbar::-webkit-scrollbar-thumb {
    background-color: #FCDC3B;
}

/* THEME, Menu.css */
.theme-gray .menu-div {
    background-color: #222;
}

/* THEME, Paper.css */
.theme-gray .papers .select-instance div.select-instance-message {
    background-color: black;
    color: white;
}

/* THEME, Resizable.css */
.theme-gray .react-grid-item {
    background-color: #171717;
    color: white;
}

/* THEME, Settings.css */
.theme-gray .settings .setting-box {
    background-color: #171717;
    color: white;
    box-shadow: 0 0 5px black;
    box-shadow: none;
}

.theme-gray .settings .server-plus-btn i.fa {
    color: #333;
}


.theme-gray .settings .forms .setting-box select[disabled] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    color: #CCC;
}

.theme-gray .settings .xlog-dot-config {
    background-color: rgba(0,0,0,0.1);
}

.theme-gray .settings .forms input {
    color: white;
    background-color: black;
}

.theme-gray .settings .forms input[readonly] {
    background-color: rgba(0,0,0,0.1);
}

.theme-gray .settings .forms .setting-box select {
    color: white;
    background-color: black;
}
.theme-gray .settings.editable .xlog-dot-config {
    background-color: black;
}

.theme-gray .xlog-config-controller > div > div {
    background-color: black;
}

/* THEME, Message.css */
.theme-gray .system-message {
    background-color: #0A0A0A;
}

.theme-gray .message-content-layout > .message-content .center-message .message-title > span {
    background-color: black;
}

.theme-gray .message-content-layout > .message-content .before,
.theme-gray .message-content-layout > .message-content .after {
    color: #CCC;
}

.theme-gray .message-content-layout > .message-content .before > span:hover,
.theme-gray .message-content-layout > .message-content .after > span:hover {
    color: white;
}

/* THEME, XLogFilter.css */
.theme-gray .xlog-filter-wrapper .xlog-filter {
    background-color: #0A0A0A;
}

.theme-gray .xlog-filter .xlog-filter-content input {
    background: black;
    color: white;
}

.theme-gray .xlog-filter .xlog-filter-content .type-control > button {
    color: black;
    background-color: #333;
    color: white;
}

.theme-gray .xlog-filter .xlog-filter-content .type-control > button.active {
    background-color: #FFD700;
    color: black;
}

.theme-gray .papers .box-layout .box-control.filter-btn.filtered i.fa {
    color: #0198E1;
}

.theme-gray .controller-wrapper {
    background-color: #282828;
}

.theme-gray .controller-wrapper .controller-tabs > div.selected {
    background-color: #282828;
}


.theme-gray .instance-selector-bg {
    background-color: rgba(0, 0, 0, 0.2);
}

.theme-gray .instance-selector .instance-list div.instance.selected {
    background-color: #FFCC11;
    color: #333;
}
.theme-gray .instance-selector .host-list div.host.active {
    background-color: #FFCC11;
    color: #333;
}

.theme-gray .xlog-profiler > div {
    background-color: #222;
    color: white;
}

.theme-gray .xlog-profile-list > div.header.row {
    background-color: #111;
}

.theme-gray .frame-profile div.xlog-data span.label {
    background-color: #111;
}
.theme-gray .frame-profile div.time-ratio{
    background-color: #111;
}

.theme-gray .frame-xlog-steps .step {
    background-color: #111;
}

.theme-gray .frame-xlog-steps .step .step-info {
    background-color: #111;
}

.theme-gray .frame-profile .top-group text {
    fill: white;
}
.theme-gray .frame-profile .top-group line,
.theme-gray .frame-profile .top-group path {
    stroke: white;
}

.theme-gray .frame-profile .frame-step-detail-popup > div > div {
    background-color: #222;
}

.theme-gray .frame-profile-step-detail .sub-detail-title > span {
    background-color: #111;
    color: white;
}

.theme-gray .frame-profile-step-detail .sql-statement{
    color: white;
}

.theme-gray .frame-profile-step-detail .sub-detail-title .sql-btns > div {
    background-color: rgba(255,255,255,0.4);
    color: white;
}

/* ProfileList.css */
.xlog-profile-list > div.header.row.fixed > span {
    position: sticky;
    top: 0;
    background-color: #F2F2F2;
}

.theme-gray .xlog-profile-list > div.header.row.fixed > span {
    position: sticky;
    top: 0;
    background-color: #111;
}

.theme-gray div.xlog-flow > div.contents {
    background-color: #666;
}
.theme-gray div.xlog-flow-content > div.contents > div.flow-data span{
    color : #333;
}
.theme-gray div.xlog-flow-content > div.contents > div.flow-data span.data.txid {
    color : #7B3E81;
}
.theme-gray div.xlog-flow-content > div.contents > div.type > div.info{
    color : #333;
}
.theme-gray div.xlog-flow-content > div.contents > div.error > div.info{
    color : red;
}
.theme-gray div.active-speed-content > div.row:hover{
    color : #333;
}
