.parameterized-message-step .message-content {
    color: #28AE7B;
    padding: 9px 5px;
}

.narrow .parameterized-message-step .message-content {
    padding: 2px 5px;
}

.parameterized-message-step .message-param {
    padding: 0 10px 10px;
}

.parameterized-message-step .message-content.debug {
    color: #9696B4;
}
.parameterized-message-step .message-content.info {
    color: #7878B4;
}
.parameterized-message-step .message-content.warn {
    color: #EE8C14;
}
.parameterized-message-step .message-content.error {
    color: #FF6464;
}
.parameterized-message-step .message-content.fatal {
    color: #FF0000;
}
