.instance-info > div {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    font-size: 9px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 50;
    position: relative;

}

.instance-info > div > div {
    display: inline-block;
}

.instance-info > div > div.instance-btn {
    border-radius: 5px 0 0 5px;
    padding: 4px 10px;
    border : 1px solid rgba(0,0,0,0.2);
    border-right : none;
}

.instance-info > div > div.preset-btn {
    border-left: 1px solid rgba(0,0,0,0.2);
    padding: 4px 8px 4px 7px;
    border-radius: 0 5px 5px 0;
    border : 1px solid rgba(0,0,0,0.2);
}

.instance-info > div > div.instance-btn:hover,
.instance-info > div > div.preset-btn:hover {
    background-color: rgba(0,0,0,0.2);
}

.instance-info .small {
    display: none;
}

.instance-info.selected > div {
    background-color: #FFD700;
    color: black;
}

@media screen and (max-width: 600px) {
    .instance-info > div {
        padding: 0;
        font-size: 8px;
        border-radius: 5px;
    }

    .instance-info .big {
        display: none;
    }

    .instance-info .small {
        display: inline;
    }
}