.settings {
    text-align: left;
    padding: 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.settings * {
    box-sizing: border-box;
}

.settings .category {
    margin: 20px 0 0;
    color: white;
}

.settings .category.first {
    margin-top: 10px;
}

.settings .category > div {
    display: inline-block;
    _background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0 7px;
    margin: 0;
}

.settings .forms {
    padding: 0;
    margin: 0 200px 0;
}

@media screen and (max-width: 1400px) {
    .settings .forms {
        margin: 0 100px 0;
    }
}

@media screen and (max-width: 1200px) {
    .settings .forms {
        margin: 0 50px 0;
    }
}

@media screen and (max-width: 1000px) {
    .settings .forms {
        margin: 0 20px 0;
    }
}

.settings .setting-box {
    padding: 20px;
    _border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 5px #666;

}

@media screen and (max-width: 600px) {
    .settings .forms {
        padding: 0;
        margin: 0;
    }

    .settings .category {
        margin: 10px 0 0;
        color: white;
    }

    .settings .category.first {
        margin-top: 0;
    }

    .settings .setting-box {
        padding: 10px;
    }
}

.settings .forms .row {
    margin: 0;
    display: inline-block;
    width: 50%;
    padding-right: 20px;
}

.settings .forms .row:nth-child(2n) {
    padding-right: 0;
}

.settings .forms .row:nth-child(3n),
.settings .forms .row:nth-child(4n) {
    padding-top: 15px;
}

@media screen and (max-width: 1100px) {
    .settings .forms .row {
        margin: 0;
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-right: 0;
    }

    .settings .forms .row:nth-child(2n),
    .settings .forms .row:nth-child(3n),
    .settings .forms .row:nth-child(4n) {
        padding-top: 10px;
    }

    .settings .forms .row:first-child {
        padding-top: 0;
    }
}

.settings .forms .row.last {
    margin-bottom: 0;
}

.settings .forms .row > div {

}

.settings .forms .row > div.label {
    text-align: left;
    display: inline-block;
    padding: 0 0 2px 0;
    font-size: 10px;
}

.settings .forms input {
    font-size: 10px;
    padding: 0 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.settings .forms .xlog-option {
    margin-bottom: 10px;
}

.settings .forms .xlog-option.last {
    margin-bottom: 0;
}

.settings .forms .xlog-option .xlog-label {
    display: inline-block !important;
    width: 70px;
    padding-left: 2px;
    font-size: 10px;
}

.settings .forms .xlog-option .xlog-label.second {
    margin-left: 20px;
}

.settings .forms .auth-info select {
    padding: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 10px;
}

.settings .forms .auth-info select[disabled] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    color: #333;
}

.settings .forms .xlog-option select {
    padding: 0;
    width: calc(50% - 80px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 10px;
}

.settings .forms .xlog-option select[disabled] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    color: #333;
}

.settings .forms input[readonly] {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    transition: background-color 0.3s;
}

.settings .buttons {
    text-align: center;
    padding: 20px 20px 10px;

}

.settings .buttons button {
    font-size: 12px;
}

.settings .xlog-dot-config {
    display: table;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: white;
    table-layout: fixed;
}

.settings.editable .xlog-dot-config {
    background-color: white;
}

.xlog-dot-config > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

.xlog-dot-config > div.xlog-dot-config-left {

}

.xlog-normal-dot {
    display: inline-block;
    line-height: 0;
}

.xlog-normal-dot .xlog-dot-rows .xlog-dot-columns {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    border-bottom: none;
}

.settings.editable .xlog-normal-dot .xlog-dot-rows .xlog-dot-columns {
    cursor: pointer;

}

.xlog-normal-dot .xlog-dot-rows .xlog-dot-columns.last {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.xlog-normal-dot .xlog-dot-rows.last .xlog-dot-columns {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.xlog-normal-dot .xlog-dot-rows .xlog-dot-columns.selected {
    border: 1px solid black;
}

.settings .xlog-dot-config .xlog-config-controller {
    position: relative;
    overflow-x: hidden;
}

.settings.editable .xlog-dot-config .xlog-config-controller {
    position: relative;
    overflow-x: auto;
}

.settings .xlog-dot-config .xlog-config-controller .disabled-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.settings.editable .xlog-dot-config .xlog-config-controller .disabled-wrapper {
    display: none;
}

.flexbox-fix input {
    padding: 5px 0 0 5px !important;

}

