.settings {
    text-align: left;
    padding: 10px;
    margin: 0 auto;
}

.settings * {
    box-sizing: border-box;
}

.settings .category {
    margin: 20px 0 0;
    color: white;
}

.settings .category.first {
    margin-top: 10px;
}

.settings .category > div {
    display: inline-block;
    _background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0 7px;
    margin: 0;
}

.settings .forms {
    padding: 0;
    margin: 0 200px 0;
    position: relative;
}

.settings .setting-box {
    padding: 5px 20px 20px 20px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 5px #666;
}

.settings .server-setting-box {
    position: relative;
    padding-top: 40px;
}

.settings .server-setting-box .server-plus-btn {
    position: absolute;
    top : 10px;
    right : 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 10px;
}

@media screen and (max-width: 2400px) {
    .max.pinned .settings .forms {
        margin: 0 20px 0;
    }
}

@media screen and (max-width: 2000px) {
    .settings .forms {
        margin: 0 20px 0;
    }
}

@media screen and (max-width: 1200px) {
    .max.pinned .settings .forms {
        margin: 0 10px 0;
    }
}

@media screen and (max-width: 800px) {
    .settings .forms {
        margin: 0 10px 0;
    }
}


@media screen and (max-width: 600px) {
    .settings .forms {
        padding: 0;
        margin: 0;
    }

    .settings .category {
        margin: 10px 0 0;
        color: white;
    }

    .settings .category.first {
        margin-top: 0;
    }

    .settings .setting-box {
        padding: 10px;
    }
}

.settings .forms .row {
    margin: 0;
    display: inline-block;
    width: 25%;
    padding-right: 20px;
    padding-top: 15px;
}

.settings .forms .server-row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.settings .forms .server-row .row {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    width: calc((100% - 100px) / 4);
    padding: 5px;
    text-align: center;
}

.settings button[disabled] {
    background-color: rgba(0, 0, 0, 0.1);
}

.settings .forms .row.server-row-no {
    width: 40px;
}

.settings .forms .row.server-row-default {
    width: 40px;
}
.settings .forms .row.server-row-remove {
    width: 20px;
    color: #E3170D;
}

.settings .forms .server-row-authentification .short {
    display: none;
}


.settings .forms .row.server-row-remove .disabled {
    color: #999;
}

.settings .forms .row.server-row-remove > div {
    cursor: pointer;
}

.settings .forms .server-row input[type=radio] {
    width: 20px;
    padding: 0;
    margin: 0;
}

.settings .forms .dot-box {
    display: table;
}

.settings .forms .dot-group {
    display: table-row;
}

.settings .forms .row.dot-row {
    display: table-cell;
    vertical-align: middle;
}

.settings .forms .row:nth-child(4n) {
    padding-right: 0;
}

@media screen and (max-width: 1600px) {

    .max.pinned .settings .setting-box {
        padding: 15px 20px 20px 20px;
    }

    .max.pinned .settings .server-setting-box {
        padding-top: 40px;
    }

    .max.pinned .settings .forms .row {
        margin: 0;
        width: 50%;
        padding-top: 10px;
        padding-right: 20px;
    }

    .max.pinned .settings .forms .row:nth-child(4n) {
        padding-right: 20px;
    }

    .max.pinned .settings .forms .row:nth-child(2n) {
        padding-right: 0;
    }

    .max.pinned .settings .forms .server-row .row:nth-child(2n) {
        padding-right: 5px;
    }

}


@media screen and (max-width: 1200px) {

    .settings .setting-box {
        padding: 15px 20px 20px 20px;
    }

    .settings .server-setting-box {
        padding-top: 40px;
    }

    .settings .forms .row {
        margin: 0;
        width: 50%;
        padding-top: 10px;
        padding-right: 20px;
    }

    .settings .forms .row:nth-child(4n) {
        padding-right: 20px;
    }

    .settings .forms .row:nth-child(2n) {
        padding-right: 0;
    }

    .settings .forms .server-row .row:nth-child(2n) {
        padding-right: 5px;
    }

}


@media screen and (max-width: 800px) {
    .settings .forms .row {
        margin: 0;
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-right: 0;
    }

    .settings .forms .row {
        padding-top: 10px;
    }

    .settings .forms .dot-box {
        display: block;
    }

    .settings .forms .dot-group {
        display: block;
    }

    .settings .forms .row.dot-row {
        display: block;
    }

    .settings .forms .row.server-row-no {
        display: none;
    }

    .settings .forms .row.server-row-protocol {
        width: 60px;
    }

    .settings .forms .row.server-row-address {
        width: auto;
    }

    .settings .forms .row.server-row-port {
        width: 60px;
    }

    .settings .forms .row.server-row-authentification {
        width: 100px;
    }

    .settings .forms .server-row-authentification .long {
        display: none;
    }

    .settings .forms .server-row-authentification .short {
        display: block;
    }

    .settings .forms .row.server-row-default {
        width: 40px;
    }

    .settings .forms .row.server-row-remove {
        width: 20px;
    }
}


@media screen and (max-width: 600px) {

    .settings .setting-box {
        padding: 0 10px 10px 10px;

    }

    .settings .server-setting-box {
        padding-top: 40px;
    }

    .settings .forms .row.server-row-protocol {
        width: 50px;
        padding-left: 0;
    }

    .settings .forms .row.server-row-address {
        width: auto;
    }

    .settings .forms .row.server-row-port {
        width: 50px;
    }

    .settings .forms .row.server-row-authentification {
        width: 90px;
    }

    .settings .forms .server-row-authentification .long {
        display: none;
    }

    .settings .forms .server-row-authentification .short {
        display: block;
    }

    .settings .forms .row.server-row-default {
        width: 30px;
    }



    .settings .forms .row.server-row-remove {
        width: 20px;
    }
}

.settings .forms .row.last {
    margin-bottom: 0;
}

.settings .forms .row > div {

}

.settings .forms .row > div.label {
    text-align: left;
    display: inline-block;
    padding: 0 0 2px 0;
    font-size: 10px;
}

.settings .forms input {
    font-size: 10px;
    padding: 7px 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.settings .forms .xlog-option {
    margin-bottom: 10px;
}

.settings .forms .xlog-option.last {
    margin-bottom: 0;
}

.settings .forms .xlog-option .xlog-label {
    display: inline-block !important;
    width: 70px;
    padding-left: 2px;
    font-size: 10px;
}

.settings .forms .xlog-option .xlog-label.second {
    margin-left: 20px;
}

.settings .forms .setting-box select {
    padding: 7px 5px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 10px;
    -webkit-appearance: none;
    outline: none;
}

.settings .forms .setting-box select[disabled] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    color: #333;
}

.settings .forms .xlog-option select {
    padding: 7px 5px;
    width: calc(50% - 80px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 10px;
}

.settings .forms .xlog-option select[disabled] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    color: #333;
}

.settings .forms input[readonly] {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    transition: background-color 0.3s;
}

.settings .buttons {
    text-align: center;
    padding: 10px 20px 10px;
    position: relative;
}

.settings .top-btns .buttons {
    position: absolute;
    text-align: right;
    right : 0;
    padding: 0;
}

.settings .top-btns .buttons button {
    margin: 0 0 0 2px;
    padding: 4px 10px;
    user-select: none;
}

.settings .buttons .restore-btn {
    position: absolute;
    left : 30px;
    top : 0;
    font-size: 10px;
    top : 17px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .settings .buttons .restore-btn {
        position: static;
        display: block;
        padding: 20px 0;
    }
}

.settings .buttons button {
    font-size: 12px;
}

.settings .xlog-dot-config {
    display: table;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: white;
    table-layout: fixed;
}

.settings.editable .xlog-dot-config {
    background-color: white;
}

.xlog-dot-config > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

.xlog-dot-config > div.xlog-dot-config-left {

}

.xlog-dot-item {
    display: inline-block;
    line-height: 0;
}

.xlog-dot-item .xlog-dot-rows .xlog-dot-columns {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    border-bottom: none;
}

.settings.editable .xlog-dot-item .xlog-dot-rows .xlog-dot-columns {
    cursor: pointer;

}

.xlog-dot-item .xlog-dot-rows .xlog-dot-columns.last {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.xlog-dot-item .xlog-dot-rows.last .xlog-dot-columns {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.xlog-dot-item .xlog-dot-rows .xlog-dot-columns.selected {
    border: 1px solid black;
}

.settings .xlog-dot-config .xlog-config-controller {
    position: relative;
    overflow-x: hidden;
}

.settings.editable .xlog-dot-config .xlog-config-controller {
    position: relative;
    overflow-x: auto;
}

.settings .xlog-dot-config .xlog-config-controller .disabled-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.settings.editable .xlog-dot-config .xlog-config-controller .disabled-wrapper {
    display: none;
}

.flexbox-fix input {
    padding: 5px 0 0 5px !important;
}

