.xlog-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.xlog-preview > div {
    display: inline-block;
    width: 3px;
    height: 3px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    background-color: #499DF5;
    opacity: 0.5;
    z-index: 10;
    border-radius: 50%;
}

.xlog-preview > div.has-error {
    background-color: #CC1100;
}

