.thread-submit-step .message-content {
    padding: 9px 15px;
    color: #01579b;
    font-weight: bold;
    font-size: 11px;
}

.narrow .thread-submit-step .message-content {
    padding: 2px 15px;
    background-color: #ffe0b2;
}

.thread-submit-step .message-content > span {

}

.thread-submit-step .message-content span.async-tag {
    margin-right: 5px;
}
